# Wind Statistics

### Introduction:

The data have been modified to contain some missing values, identified by NaN.  
Using pandas should make this exercise
easier, in particular for the bonus question.

You should be able to perform all of these operations without using
a for loop or other looping construct.


1. The data in 'wind.data' has the following format:

In [434]:
"""
Yr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL
61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04
61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83
61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71
"""

'\nYr Mo Dy   RPT   VAL   ROS   KIL   SHA   BIR   DUB   CLA   MUL   CLO   BEL   MAL\n61  1  1 15.04 14.96 13.17  9.29   NaN  9.87 13.67 10.25 10.83 12.58 18.50 15.04\n61  1  2 14.71   NaN 10.83  6.50 12.62  7.67 11.50 10.04  9.79  9.67 17.54 13.83\n61  1  3 18.50 16.88 12.33 10.13 11.17  6.17 11.25   NaN  8.50  7.67 12.75 12.71\n'

   The first three columns are year, month and day.  The
   remaining 12 columns are average windspeeds in knots at 12
   locations in Ireland on that day.   

   More information about the dataset go [here](wind.desc).

### Step 1. Import the necessary libraries

In [27]:
import pandas as pd
import numpy as np
import datetime

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data)

### Step 3. Assign it to a variable called data and replace the first 3 columns by a proper datetime index.

In [25]:
data = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data", delim_whitespace=True, parse_dates = [[0,1,2]])
data.head()

/var/folders/f_/3h5g_rx13336x99h7_n9bc9c0000gp/T/ipykernel_2081/225559130.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/Wind_Stats/wind.data", delim_whitespace=True, parse_dates = [[0,1,2]])

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,2061-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,2061-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,2061-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,2061-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,2061-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6574 entries, 0 to 6573
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Yr_Mo_Dy  6574 non-null   datetime64[ns]
 1   RPT       6568 non-null   float64
 2   VAL       6571 non-null   float64
 3   ROS       6572 non-null   float64
 4   KIL       6569 non-null   float64
 5   SHA       6572 non-null   float64
 6   BIR       6574 non-null   float64
 7   DUB       6571 non-null   float64
 8   CLA       6572 non-null   float64
 9   MUL       6571 non-null   float64
 10  CLO       6573 non-null   float64
 11  BEL       6574 non-null   float64
 12  MAL       6570 non-null   float64
dtypes: datetime64[ns](1), float64(12)
memory usage: 667.8 KB

### Step 4. Year 2061? Do we really have data from this year? Create a function to fix it and apply it.

In [28]:
def fix_century(x):
  year = x.year - 100 if x.year > 1989 else x.year
  return datetime.date(year, x.month, x.day)

# apply the function fix_century on the column and replace the values to the right ones
data['Yr_Mo_Dy'] = data['Yr_Mo_Dy'].apply(fix_century)

# data.info()
data.head()

,Yr_Mo_Dy,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
0,1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1,1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
2,1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
3,1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
4,1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 5. Set the right dates as the index. Pay attention at the data type, it should be datetime64[ns].

In [31]:
data.set_index(keys="Yr_Mo_Dy", inplace=True)

KeyError: "None of ['Yr_Mo_Dy'] are in the columns"

In [34]:
data.index.dtype

dtype('O')

In [35]:
data.index = pd.to_datetime(data.index)

In [36]:
data.index.dtype

dtype('<M8[ns]')

In [37]:
data.head()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-02,14.71,NaN,10.83,6.50,12.62,7.67,11.50,10.04,9.79,9.67,17.54,13.83
1961-01-03,18.50,16.88,12.33,10.13,11.17,6.17,11.25,NaN,8.50,7.67,12.75,12.71
1961-01-04,10.58,6.63,11.75,4.58,4.54,2.88,8.63,1.79,5.83,5.88,5.46,10.88
1961-01-05,13.33,13.25,11.42,6.17,10.71,8.21,11.92,6.54,10.92,10.34,12.92,11.83

### Step 6. Compute how many values are missing for each location over the entire record.  
#### They should be ignored in all calculations below.

In [40]:
data.isnull().sum()

RPT    6
VAL    3
ROS    2
KIL    5
SHA    2
BIR    0
DUB    3
CLA    2
MUL    3
CLO    1
BEL    0
MAL    4
dtype: int64

### Step 7. Compute how many non-missing values there are in total.

In [43]:
(~data.isnull()).sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

In [47]:
data.notnull().sum()

RPT    6568
VAL    6571
ROS    6572
KIL    6569
SHA    6572
BIR    6574
DUB    6571
CLA    6572
MUL    6571
CLO    6573
BEL    6574
MAL    6570
dtype: int64

### Step 8. Calculate the mean windspeeds of the windspeeds over all the locations and all the times.
#### A single number for the entire dataset.

In [46]:
round((data.mean()).mean(), 2)

10.23

### Step 9. Create a DataFrame called loc_stats and calculate the min, max and mean windspeeds and standard deviations of the windspeeds at each location over all the days 

#### A different set of numbers for each location.

In [50]:
# Forma 1
my_stats = {
    "location": [],
    "min": [],
    "max": [],
    "mean": [],
    "std_deviation": []
}

for col in data.columns:
    my_stats["location"].append(col)
    my_stats["min"].append(round(data[col].min(), 2))
    my_stats["max"].append(round(data[col].max(), 2))
    my_stats["mean"].append(round(data[col].mean(), 2))
    my_stats["std_deviation"].append(round(data[col].std(), 2))

loc_stats = pd.DataFrame(my_stats)
loc_stats

   location   min    max   mean  std_deviation
0       RPT  0.67  35.80  12.36           5.62
1       VAL  0.21  33.37  10.64           5.27
2       ROS  1.50  33.84  11.66           5.01
3       KIL  0.00  28.46   6.31           3.61
4       SHA  0.13  37.54  10.46           4.94
5       BIR  0.00  26.16   7.09           3.97
6       DUB  0.00  30.37   9.80           4.98
7       CLA  0.00  31.08   8.50           4.50
8       MUL  0.00  25.88   8.49           4.17
9       CLO  0.04  28.21   8.71           4.50
10      BEL  0.13  42.38  13.12           5.84
11      MAL  0.67  42.54  15.60           6.70

In [53]:
# Forma 2
my_stats = {}
indxs = ["min", "max", "mean", "std"]

for col in data.columns:
    my_stats[col] = []
    my_stats[col].append(round(data[col].min(), 2))
    my_stats[col].append(round(data[col].max(), 2))
    my_stats[col].append(round(data[col].mean(), 2))
    my_stats[col].append(round(data[col].std(), 2))

loc_stats = pd.DataFrame(my_stats, index=indxs)
loc_stats

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
min,0.67,0.21,1.50,0.00,0.13,0.00,0.00,0.00,0.00,0.04,0.13,0.67
max,35.80,33.37,33.84,28.46,37.54,26.16,30.37,31.08,25.88,28.21,42.38,42.54
mean,12.36,10.64,11.66,6.31,10.46,7.09,9.80,8.50,8.49,8.71,13.12,15.60
std,5.62,5.27,5.01,3.61,4.94,3.97,4.98,4.50,4.17,4.50,5.84,6.70

In [54]:
# Forma 3
data.describe(percentiles=[])

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
count,6568.000000,6571.000000,6572.000000,6569.000000,6572.000000,6574.000000,6571.000000,6572.000000,6571.000000,6573.000000,6574.000000,6570.000000
mean,12.362987,10.644314,11.660526,6.306468,10.455834,7.092254,9.797343,8.495053,8.493590,8.707332,13.121007,15.599079
std,5.618413,5.267356,5.008450,3.605811,4.936125,3.968683,4.977555,4.499449,4.166872,4.503954,5.835037,6.699794
min,0.670000,0.210000,1.500000,0.000000,0.130000,0.000000,0.000000,0.000000,0.000000,0.040000,0.130000,0.670000
50%,11.710000,10.170000,10.920000,5.750000,9.960000,6.830000,9.210000,8.080000,8.170000,8.290000,12.500000,15.000000
max,35.800000,33.370000,33.840000,28.460000,37.540000,26.160000,30.370000,31.080000,25.880000,28.210000,42.380000,42.540000

### Step 10. Create a DataFrame called day_stats and calculate the min, max and mean windspeed and standard deviations of the windspeeds across all the locations at each day.

#### A different set of numbers for each day.

In [57]:
day_stats = pd.DataFrame(
    {"min": np.array(round(data.min(axis=1), 2)), \
     "max": np.array(round(data.max(axis=1), 2)), \
     "mean": np.array(round(data.mean(axis=1), 2)), \
     "std": np.array(round(data.std(axis=1), 2))}, \
     index=data.index)
day_stats.head()

             min    max   mean   std
Yr_Mo_Dy
1961-01-01  9.29  18.50  13.02  2.81
1961-01-02  6.50  17.54  11.34  3.19
1961-01-03  6.17  18.50  11.64  3.68
1961-01-04  1.79  11.75   6.62  3.20
1961-01-05  6.17  13.33  10.63  2.45

### Step 11. Find the average windspeed in January for each location.  
#### Treat January 1961 and January 1962 both as January.

In [66]:
df_filtered = data[data.index.month == 1]
df_filtered.mean()

RPT    14.847325
VAL    12.914560
ROS    13.299624
KIL     7.199498
SHA    11.667734
BIR     8.054839
DUB    11.819355
CLA     9.512047
MUL     9.543208
CLO    10.053566
BEL    14.550520
MAL    18.028763
dtype: float64

### Step 12. Downsample the record to a yearly frequency for each location.

In [70]:
# Forma 1
df_annual = round(data.resample('A').mean(), 2)
df_annual.index = df_annual.index.year
df_annual

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961,12.30,10.35,11.36,6.96,10.88,7.73,9.73,8.86,8.65,9.84,13.50,13.68
1962,12.25,10.11,11.73,6.96,10.66,7.39,11.02,8.79,8.32,9.68,12.93,14.32
1963,12.81,10.84,12.54,7.33,11.72,8.43,11.08,10.34,8.90,10.22,13.64,15.00
1964,12.36,10.92,12.10,6.79,11.45,7.57,10.26,9.47,7.79,10.21,13.74,14.91
1965,12.45,11.08,11.85,6.86,11.02,7.48,10.62,8.88,7.91,9.92,12.96,15.59
1966,13.46,11.56,12.02,7.35,11.81,7.79,10.58,8.84,8.51,9.77,14.27,16.31
1967,12.74,10.99,11.74,7.14,11.63,7.37,10.65,9.33,8.65,9.55,14.77,17.14
1968,11.84,10.47,11.41,6.48,10.76,6.07,8.86,8.26,7.22,7.83,12.81,15.02
1969,11.17,9.72,10.90,5.77,9.87,6.19,8.56,7.71,7.92,7.75,12.62,15.76
1970,12.60,10.73,11.73,6.22,10.57,7.61,9.61,8.33,9.30,8.29,13.18,16.46
1971,11.27,9.10,11.09,5.24,9.44,6.10,8.39,6.76,7.92,7.23,12.21,15.03
1972,12.46,10.56,12.06,5.93,9.43,6.36,9.70,7.68,8.36,7.52,12.73,15.03
1973,11.83,10.68,10.68,5.55,9.64,6.55,8.48,7.61,8.25,7.81,12.17,15.44
1974,13.64,11.81,12.34,6.43,11.11,6.81,10.08,9.90,9.33,8.74,13.25,16.95
1975,12.01,10.29,11.56,5.27,9.19,5.67,8.56,7.84,8.80,7.38,12.63,15.31
1976,11.74,10.20,10.76,5.11,8.85,6.31,9.15,7.15,8.88,7.88,12.33,15.47
1977,13.10,11.14,12.63,6.07,10.00,8.59,11.52,8.38,9.10,8.82,13.46,16.59
1978,12.50,11.04,11.38,6.08,10.17,7.65,9.49,8.80,9.09,8.30,12.97,16.77

In [71]:
# Forma 2
data.groupby(data.index.to_period('A')).mean()

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961,12.299583,10.351796,11.362369,6.958227,10.881763,7.729726,9.733923,8.858788,8.647652,9.835577,13.502795,13.680773
1962,12.246923,10.110438,11.732712,6.960440,10.657918,7.393068,11.020712,8.793753,8.316822,9.676247,12.930685,14.323956
1963,12.813452,10.836986,12.541151,7.330055,11.724110,8.434712,11.075699,10.336548,8.903589,10.224438,13.638877,14.999014
1964,12.363661,10.920164,12.104372,6.787787,11.454481,7.570874,10.259153,9.467350,7.789016,10.207951,13.740546,14.910301
1965,12.451370,11.075534,11.848767,6.858466,11.024795,7.478110,10.618712,8.879918,7.907425,9.918082,12.964247,15.591644
1966,13.461973,11.557205,12.020630,7.345726,11.805041,7.793671,10.579808,8.835096,8.514438,9.768959,14.265836,16.307260
1967,12.737151,10.990986,11.739397,7.143425,11.630740,7.368164,10.652027,9.325616,8.645014,9.547425,14.774548,17.135945
1968,11.835628,10.468197,11.409754,6.477678,10.760765,6.067322,8.859180,8.255519,7.224945,7.832978,12.808634,15.017486
1969,11.166356,9.723699,10.902000,5.767973,9.873918,6.189973,8.564493,7.711397,7.924521,7.754384,12.621233,15.762904
1970,12.600329,10.726932,11.730247,6.217178,10.567370,7.609452,9.609890,8.334630,9.297616,8.289808,13.183644,16.456027
1971,11.273123,9.095178,11.088329,5.241507,9.440329,6.097151,8.385890,6.757315,7.915370,7.229753,12.208932,15.025233
1972,12.463962,10.561311,12.058333,5.929699,9.430410,6.358825,9.704508,7.680792,8.357295,7.515273,12.727377,15.028716
1973,11.828466,10.680493,10.680493,5.547863,9.640877,6.548740,8.482110,7.614274,8.245534,7.812411,12.169699,15.441096
1974,13.643096,11.811781,12.336356,6.427041,11.110986,6.809781,10.084603,9.896986,9.331753,8.736356,13.252959,16.947671
1975,12.008575,10.293836,11.564712,5.269096,9.190082,5.668521,8.562603,7.843836,8.797945,7.382822,12.631671,15.307863
1976,11.737842,10.203115,10.761230,5.109426,8.846339,6.311038,9.149126,7.146202,8.883716,7.883087,12.332377,15.471448
1977,13.099616,11.144493,12.627836,6.073945,10.003836,8.586438,11.523205,8.378384,9.098192,8.821616,13.459068,16.590849
1978,12.504356,11.044274,11.380000,6.082356,10.167233,7.650658,9.489342,8.800466,9.089753,8.301699,12.967397,16.771370

### Step 13. Downsample the record to a monthly frequency for each location.

In [74]:
df_monthly = round(data.resample('M').mean(), 2)
df_monthly.index = df_monthly.index.to_period('M')
df_monthly

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01,14.84,11.99,13.43,7.74,11.07,8.59,11.18,9.25,9.09,10.11,13.88,14.70
1961-02,16.27,14.98,14.44,9.23,13.85,10.94,11.89,11.85,11.82,12.71,18.58,15.41
1961-03,10.89,11.30,10.75,7.28,10.51,8.87,9.64,9.83,10.29,11.25,16.41,15.72
1961-04,10.72,9.43,10.00,5.83,8.44,6.50,6.93,7.09,7.34,7.24,11.15,10.28
1961-05,9.86,8.85,10.82,5.91,9.49,6.57,7.60,8.18,8.04,8.50,11.90,12.01
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-08,9.65,8.26,9.03,4.50,7.37,5.94,5.65,5.42,7.24,5.54,10.47,12.05
1978-09,10.91,10.90,10.64,5.72,10.37,9.28,10.79,9.58,10.07,8.94,15.68,19.39
1978-10,9.90,8.67,9.30,4.72,8.53,6.77,8.12,7.34,8.30,8.24,13.78,17.15
1978-11,16.15,14.80,13.51,7.32,11.48,8.74,11.49,9.66,10.70,10.68,17.40,20.72
1978-12,16.18,13.75,15.64,7.09,11.40,9.24,12.08,10.19,10.62,11.03,13.86,21.37

### Step 14. Downsample the record to a weekly frequency for each location.

In [75]:
df_weekly = round(data.resample('W').mean(), 2)
df_weekly

,RPT,VAL,ROS,KIL,SHA,BIR,DUB,CLA,MUL,CLO,BEL,MAL
Yr_Mo_Dy,,,,,,,,,,,,
1961-01-01,15.04,14.96,13.17,9.29,NaN,9.87,13.67,10.25,10.83,12.58,18.50,15.04
1961-01-08,13.54,11.49,10.49,6.42,9.47,6.44,11.06,6.62,8.43,8.50,12.48,13.24
1961-01-15,12.47,8.97,11.96,4.63,7.35,5.07,7.54,6.82,5.71,7.57,11.13,11.02
1961-01-22,13.20,9.86,12.98,6.33,8.97,7.42,9.26,7.88,7.15,8.12,9.82,11.43
1961-01-29,19.88,16.14,18.23,12.72,17.43,14.83,15.53,15.16,14.48,15.64,20.93,22.53
...,...,...,...,...,...,...,...,...,...,...,...,...
1978-12-03,14.93,11.23,13.94,5.57,10.22,8.62,9.64,7.69,9.01,9.55,11.84,18.73
1978-12-10,20.74,19.19,17.03,9.78,15.29,12.77,14.44,12.49,13.87,14.08,18.52,23.06
1978-12-17,16.76,14.69,14.99,6.92,11.40,7.27,10.21,7.97,9.17,8.57,11.10,15.56
1978-12-24,11.16,8.01,13.17,4.00,7.83,6.29,7.80,8.67,7.15,8.07,11.85,18.98
1978-12-31,14.95,11.80,16.04,6.51,9.66,8.62,13.71,10.48,10.87,11.47,12.95,26.84

### Step 15. Calculate the min, max and mean windspeeds and standard deviations of the windspeeds across all locations for each week (assume that the first week starts on January 2 1961) for the first 52 weeks.

In [78]:
data.loc["1961-01-02"]

RPT    14.71
VAL      NaN
ROS    10.83
KIL     6.50
SHA    12.62
BIR     7.67
DUB    11.50
CLA    10.04
MUL     9.79
CLO     9.67
BEL    17.54
MAL    13.83
Name: 1961-01-02 00:00:00, dtype: float64

In [82]:
df_weekly = data.resample('W').agg(['mean', 'min', 'max', 'std'])
df_weekly.iloc[1:53, :]

                  RPT                                VAL                \
                 mean    min    max       std       mean    min    max
Yr_Mo_Dy
1961-01-08  13.541429  10.58  18.50  2.631321  11.486667   6.63  16.88
1961-01-15  12.468571   9.04  19.75  3.555392   8.967143   3.54  12.08
1961-01-22  13.204286   4.92  19.83  5.337402   9.862857   3.42  14.37
1961-01-29  19.880000  13.62  25.04  4.619061  16.141429   9.96  23.91
1961-02-05  16.827143  10.58  24.21  5.251408  15.460000   9.46  24.21
1961-02-12  19.684286  16.00  24.54  3.587677  16.417143  11.54  21.42
1961-02-19  15.130000   6.04  22.50  5.064609  15.091429  11.63  20.17
1961-02-26  15.221429   7.79  25.80  7.020716  13.625714   7.08  21.50
1961-03-05  12.101429  10.96  13.33  0.997721  12.951429   8.83  17.00
1961-03-12   9.376667   4.88  14.79  3.732263  11.578571   8.08  16.96
1961-03-19  11.911429   4.92  16.88  3.860036  13.501429   9.46  15.54
1961-03-26   9.567143   6.29  15.00  3.613298   8.387143   2.58  11.63
1961-04-02  10.757143   5.88  18.25  5.046922   8.852857   3.50  16.29
1961-04-09  11.964286   4.50  18.12  4.604392  10.654286   7.04  14.62
1961-04-16   8.965714   4.71  15.50  3.937727   8.000000   4.83  12.25
1961-04-23  12.621429   4.00  21.09  5.676655  10.438571   3.71  15.41
1961-04-30  10.117143   4.08  16.29  4.349662   9.798571   6.50  14.46
1961-05-07  15.367143   9.87  23.00  5.025507  13.970000  10.29  19.79
1961-05-14   7.772857   3.54  12.79  3.371022   8.712857   3.96  15.12
1961-05-21   8.225714   4.88  15.04  3.631730   5.631667   3.58  10.17
1961-05-28   8.155714   4.96  11.79  2.739433   7.388571   3.67  12.50
1961-06-04  10.321429   7.00  15.92  3.099701   7.407143   4.75   9.79
1961-06-11  10.917143   8.29  14.42  2.248597   8.992857   6.83  11.54
1961-06-18  10.571429   6.13  14.33  3.009482   9.565714   4.12  14.54
1961-06-25   7.345714   4.00   9.00  1.982035   6.108571   3.25   9.50
1961-07-02  10.236667   7.21  13.13  2.557856   9.482857   6.34  14.37
1961-07-09  11.715714   7.29  17.50  3.664855   7.220000   3.75  10.75
1961-07-16  16.680000   8.63  22.50  5.168710  13.518571   7.87  19.29
1961-07-23   4.202857   3.04   5.88  1.047978   4.255714   2.92   6.79
1961-07-30  10.561429   6.13  16.08  4.157641   8.445714   4.63  13.79
1961-08-06  10.870000   7.67  16.08  2.950887   8.792857   5.09  15.79
1961-08-13  10.058333   2.88  14.21  4.422268   7.941429   4.42  10.00
1961-08-20  15.607143  13.13  18.91  2.283635  10.565714   7.25  13.62
1961-08-27  12.391429   7.67  18.16  3.395857  11.430000   6.87  14.58
1961-09-03   8.678571   3.63  14.46  4.398615   8.821429   1.13  22.00
1961-09-10  10.541429   5.00  17.62  5.207278   8.798571   3.04  13.59
1961-09-17  17.160000   5.33  28.75  7.679190  14.440000   7.12  22.08
1961-09-24   8.500000   6.92  10.25  1.267399   7.154286   2.92  13.62
1961-10-01  16.044286  10.34  23.21  4.559572  11.361667   6.96  13.62
1961-10-08  11.250000   3.13  16.08  5.596710   8.757143   3.63  16.96
1961-10-15  10.881667   3.71  17.12  4.780675   9.734286   6.13  13.25
1961-10-22  19.260000  10.46  28.62  7.888314  13.364286   3.75  19.46
1961-10-29  16.077143   4.33  26.42  7.957637  11.867143   2.75  21.25
1961-11-05  11.571429   5.88  15.79  3.369201   9.590000   3.96  13.46
1961-11-12  10.428571   5.46  16.08  3.939811   7.690000   5.50  10.75
1961-11-19  10.798571   7.50  15.00  2.784358   7.951429   4.21  13.00
1961-11-26   9.154286   5.75  14.29  3.214368   7.337143   3.29  11.79
1961-12-03  12.608571   7.92  23.75  5.704669  10.442857   4.67  18.71
1961-12-10  17.362857  10.83  23.71  4.890152  14.362857   9.21  21.37
1961-12-17  14.985714   9.29  21.34  4.095106  13.472857   8.63  17.62
1961-12-24  15.757143  11.46  24.41  4.959717  11.971429   9.79  16.13
1961-12-31  13.634286   5.04  20.54  5.787783   9.504286   3.08  16.04

                            ROS         ...    CLO                  BEL  \
                 std       mean    min  ...    max       std       mean
Yr_Mo_Dy                                ...
1961-01-08  3.949525  10.487143   7.62  ...  10.46  1.704941  12.481429
1961-01-15  3.148945  11.958571   7.08  ...  14.58  4.084293  11.125714
1961-01-22  3.837785  12.982857   7.29  ...  16.71  4.783952   9.821429
1961-01-29  5.170224  18.225714  12.67  ...  19.95  3.713368  20.930000
1961-02-05  5.187395  12.618571   9.04  ...  13.13  2.839501  14.012857
1961-02-12  3.608373  17.304286  13.67  ...  17.79  1.746749  21.832857
1961-02-19  3.575012  13.797143   6.13  ...  16.58  2.531361  21.167143
1961-02-26  5.147348  14.334286   6.08  ...  20.04  4.920064  16.304286
1961-03-05  2.851955  11.063333   8.17  ...  14.09  1.593685  17.842857
1961-03-12  3.230167  10.845714   7.54  ...  15.79  3.655113  16.701429
1961-03-19  2.352867  11.607143   5.25  ...  15.34  3.099472  19.350000
1961-03-26  3.657265   9.695714   4.79  ...  14.50  2.538224  14.037143
1961-04-02  4.687315   9.501429   5.09  ...  14.21  3.191115  13.471429
1961-04-09  2.845399  13.607143   9.29  ...  10.50  2.336182  11.712857
1961-04-16  2.607118   8.787143   3.92  ...   9.67  2.161137   9.482857
1961-04-23  4.631736  10.255714   3.33  ...  14.37  3.347972  13.620000
1961-04-30  2.871425   8.281429   2.54  ...  11.46  2.840568   9.720000
1961-05-07  3.750835  13.834286   8.42  ...  17.54  3.620819  17.548571
1961-05-14  3.782947   8.172857   4.63  ...  17.92  5.460237  10.421429
1961-05-21  2.468906  12.042857   5.91  ...   9.29  2.216889   9.624286
1961-05-28  3.378537   8.512857   3.58  ...  11.46  2.575661  10.518571
1961-06-04  1.868125  10.065714   6.83  ...  12.04  2.096989  12.298571
1961-06-11  1.524836   8.095714   6.04  ...  10.92  2.158323  10.148571
1961-06-18  3.509444  10.875714   6.50  ...  14.71  3.792400  15.351429
1961-06-25  2.212460   8.084286   5.13  ...  15.00  2.286218  14.370000
1961-07-02  2.902411   8.648571   7.62  ...  12.38  1.564144  14.535714
1961-07-09  2.686658   9.320000   7.41  ...  16.79  3.657179  12.220000
1961-07-16  3.849630  11.171429   8.00  ...  14.92  3.271899  13.520000
1961-07-23  1.400010   6.738571   4.08  ...   7.75  1.439785   7.524286
1961-07-30  3.203206   9.352857   6.42  ...  15.75  4.350268  12.841429
1961-08-06  3.985226   9.858571   5.54  ...  12.83  2.903018  11.595714
1961-08-13  2.053326   8.728571   6.00  ...   9.92  2.073777  10.934286
1961-08-20  2.523416  11.065714   9.17  ...  17.83  2.730237  14.922857
1961-08-27  3.174702  12.768571   9.50  ...  15.96  3.855302  16.251429
1961-09-03  7.474025   6.745714   2.42  ...  16.13  3.993736  13.664286
1961-09-10  4.003996   8.185714   3.63  ...  11.71  3.649278  10.700000
1961-09-17  5.360585  15.617143   7.29  ...  25.21  5.128338  19.878571
1961-09-24  3.445262   7.993333   5.33  ...  10.71  2.354092  11.018571
1961-10-01  2.812482  13.062857   7.87  ...  17.46  3.908397  16.208571
1961-10-08  5.060803  10.167143   4.96  ...  12.21  4.296870   8.810000
1961-10-15  2.707483   9.104286   4.21  ...  15.21  3.569308  14.451429
1961-10-22  5.998199  15.828571   9.92  ...  26.38  5.890511  17.477143
1961-10-29  6.879973  14.608571   4.79  ...  22.13  6.277629  15.592857
1961-11-05  3.900278  10.827143   6.54  ...  15.79  2.784450  16.322857
1961-11-12  2.141191  10.272857   3.83  ...  10.88  2.843518   9.208571
1961-11-19  3.208548  16.988571   6.46  ...  14.04  4.402588   5.875714
1961-11-26  3.277904   8.662857   4.42  ...  14.12  2.747452  11.772857
1961-12-03  5.107089  11.481429   8.00  ...  13.00  3.680477  11.464286
1961-12-10  4.115506  15.460000   9.71  ...  15.50  4.156207  15.975714
1961-12-17  3.587886  13.720000   9.04  ...  17.41  4.633398  15.112857
1961-12-24  2.220866  12.840000   8.08  ...  15.34  4.637096   9.958571
1961-12-31  4.566479  15.804286   2.13  ...  10.83  3.526625   9.697143

                                          MAL
              min    max       std       mean    min    max       std
Yr_Mo_Dy
1961-01-08   5.46  17.54  4.349139  13.238571  10.88  16.46  1.773062
1961-01-15   5.25  20.71  5.552215  11.024286   5.17  16.92  4.692355
1961-01-22   6.50  15.92  3.626584  11.434286   6.79  17.96  4.237239
1961-01-29  14.04  27.71  5.210726  22.530000  17.50  27.63  3.874721
1961-02-05   9.17  19.33  4.210858  11.935714   7.17  19.25  4.336104
1961-02-12  15.21  26.38  4.063753  19.155714  17.04  21.84  1.828705
1961-02-19  14.09  29.63  5.910938  16.584286  10.96  22.58  4.685377
1961-02-26   9.59  23.21  5.091162  14.322857   6.67  23.87  6.182283
1961-03-05  11.58  23.45  4.332331  13.951667   8.83  17.54  3.021387
1961-03-12  10.21  22.71  4.358759  14.420000   5.54  22.54  5.769890
1961-03-19  11.29  22.79  3.779727  16.227143  11.34  22.95  4.331958
1961-03-26   8.25  21.34  4.318069  18.134286  13.13  22.50  3.701846
1961-04-02   7.21  18.63  4.179854  13.900000   7.17  19.58  3.924555
1961-04-09   7.62  17.16  3.147781  11.371429   7.21  15.34  2.598271
1961-04-16   5.75  16.17  3.641464   8.690000   5.66  12.87  2.747842
1961-04-23   6.75  19.21  4.735096  12.470000   4.96  20.46  5.908542
1961-04-30   5.13  13.04  2.948237   8.637143   2.67  17.50  5.108365
1961-05-07   4.79  28.08  8.003490  14.571429   3.83  26.58  7.728504
1961-05-14   6.54  18.66  3.968272  10.382857   3.33  26.30  7.858246
1961-05-21   6.63  12.00  1.975853  10.612857   5.91  14.96  3.310819
1961-05-28   6.13  14.33  3.024524  11.697143   8.00  17.04  3.811818
1961-06-04   8.71  17.00  2.611139  13.597143  10.63  17.96  2.593586
1961-06-11   5.37  16.17  3.993062  12.250000   5.96  19.83  4.925055
1961-06-18   7.29  25.25  6.477887  15.025714   6.13  24.71  6.242673
1961-06-25  11.00  19.08  2.498386  17.410000  13.75  21.50  3.063011
1961-07-02   6.96  21.87  6.303747  12.133333   8.50  16.79  3.652313
1961-07-09   7.08  20.41  4.537988  15.987143  12.08  21.29  3.665705
1961-07-16   5.04  20.25  4.971060  12.524286   5.96  21.96  4.974273
1961-07-23   4.21  10.13  2.050218   8.415714   5.41  10.92  2.133994
1961-07-30   7.87  22.17  5.580903  13.761429   6.13  25.37  6.664574
1961-08-06   6.17  18.54  4.901377  13.760000   9.08  20.25  4.448251
1961-08-13   5.88  14.29  2.931302  10.125714   5.88  15.16  3.356585
1961-08-20   9.59  21.92  4.086725  16.626667  13.04  24.30  3.934238
1961-08-27   5.75  23.38  6.711322  16.485714   8.29  22.29  4.947608
1961-09-03   4.79  24.71  7.678051  11.022857   5.41  22.54  6.308087
1961-09-10   5.41  15.83  4.220584  11.034286   3.37  20.25  6.049619
1961-09-17  13.92  23.91  4.464252  18.984286  14.67  33.09  6.332885
1961-09-24   4.54  20.96  5.235868   9.814286   5.25  14.62  3.113507
1961-10-01   7.79  21.37  5.091268  13.338571   4.04  17.16  4.696504
1961-10-08   4.79  17.83  4.800403  11.410000   4.83  19.62  5.462002
1961-10-15   8.54  20.46  4.113200  15.260000  10.75  21.04  4.098130
1961-10-22  10.88  24.71  5.645871  23.641429  13.46  33.45  7.468377
1961-10-29   8.50  27.29  7.056150  18.404286   9.83  30.88  8.340881
1961-11-05  10.29  20.17  4.038493  19.195714  13.37  23.58  3.870800
1961-11-12   6.13  12.58  2.532196  10.858571   5.71  15.54  3.690752
1961-11-19   0.71   9.59  3.643285   5.737143   2.00  13.25  3.787654
1961-11-26   6.50  20.46  5.407223  12.732857   4.25  22.58  6.475867
1961-12-03   5.50  19.04  5.552648  14.725714   5.88  21.29  5.233192
1961-12-10  10.71  21.79  4.667933  16.241429   7.58  29.33  7.345893
1961-12-17   5.50  22.83  6.531043  14.644286   6.50  21.12  5.665006
1961-12-24   5.29  17.67  5.065308   8.164286   2.62  16.62  5.048035
1961-12-31   3.75  13.21  3.262217  12.840000   6.63  15.21  3.012729

[52 rows x 48 columns]