<a href="https://colab.research.google.com/github/institutohumai/cursos-python/blob/master/AnalisisDeDatos/3_Agrupacion_y_Agregacion/ejercicio/ejercicio.ipynb"> <img src='https://colab.research.google.com/assets/colab-badge.svg' /> </a>
<div align="center"> Recordá abrir en una nueva pestaña </div>

## Parte A
Para esta parte vamos a trabajar sobre el mismo DataFrame que usamos en clase pero agrupando a nivel de comunidad autónoma (Cod_CCAA). En este caso vamos a traer también las descripciones y vamos a hacer un join para formar un único data set.

In [2]:
import pandas as pd
import plotly.express as px

/var/folders/ph/5sq6jlj161g1_2t838crnx6c0000gp/T/ipykernel_974/2165325793.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/parodesprov.csv')

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1000)>

In [ ]:
df_descripciones = pd.read_csv('https://datasets-humai.s3.amazonaws.com/datasets/comunidades_descripcion.csv')

Unan ambos DataFrames utilizando la función pd.merge()

Construir el DataFrame de comunidades autónomas, incluyendo la densidad, la proporción de paro y la cantidad de municipios.

Habíamos visto que el promedio de la proporción de paro en los municipios con una densidad menor a la mediana es más bajo.. ¿Se cumple lo mismo para las provincias?

¿Cuál es la comunidad autónoma con mayor cantidad de municipios?

## Parte B
Para esta parte de la práctica usaremos los datos abiertos de CABA, a partir de un relevamiento muestral de los avisos publicados para la venta de departamentos en el año 2020.

https://data.buenosaires.gob.ar/dataset/terrenos-valor-oferta

In [4]:
import numpy as np
import pandas as pd

pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [5]:
df = pd.read_csv("../datos/Terrenos-en-venta-2020.csv", encoding = "latin1", sep=",")

Hacer un primer análisis del dataset y analizar nulos.

In [6]:
df.head(5)

,DIRECCION,PROPIEDADS,PRECIOUSD,PRECIOPESO,DOLARM2,PESOSM2,COTIZACION,TRIMESTRE_,BARRIO,COMUNA_
0,RIVADAVIA 3500,190,150000,12000000,790,63158,80,CUARTO,ALMAGRO,5
1,PRINGLES 100,242,230000,18400000,950,76033,80,CUARTO,ALMAGRO,5
2,"PERON, JUAN DOMINGO, TTE. 3400",211,265000,21200000,1256,100474,80,CUARTO,ALMAGRO,5
3,MEXICO 4000,320,300000,24000000,938,75000,80,CUARTO,ALMAGRO,5
4,VENEZUELA 4067,250,305000,24400000,1220,97600,80,CUARTO,ALMAGRO,5

In [7]:
df.dropna(inplace=True)

In [8]:
df.shape

(10295, 10)

In [9]:
df.describe()

,PROPIEDADS,PRECIOUSD,PRECIOPESO,DOLARM2,PESOSM2,COTIZACION,COMUNA_
count,10295.00000,10295.00000,10295.00000,10295.00000,10295.00000,10295.00000,10295.00000
mean,455.75949,904587.72142,60784664.20583,2357.56824,157850.57261,67.21253,9.25566
std,766.96855,1131244.57397,78249925.68569,1600.37164,107529.32500,4.01777,4.32894
min,30.00000,68000.00000,4352000.00000,355.00000,22705.00000,64.00000,1.00000
25%,200.00000,350000.00000,23520000.00000,1238.00000,83228.00000,64.00000,5.00000
50%,291.00000,580000.00000,38250000.00000,1918.00000,128321.00000,67.00000,10.00000
75%,433.00000,980000.00000,64000000.00000,3019.00000,200836.50000,70.00000,13.00000
max,14303.00000,16000000.00000,1280000000.00000,21429.00000,1714286.00000,80.00000,15.00000

### Ejercicio 1. 
¿Cuál es el precio medio del metro cuadrado en la Ciudad de Buenos Aires?

In [10]:
round(df["DOLARM2"].mean(), 2)

2357.57

In [11]:
round(df["PESOSM2"].mean(), 2)

157850.57

In [12]:
numeric_cols = df.select_dtypes(include=[int, float])

# Calcula la media de cada columna numérica
means = numeric_cols.mean()
means

PROPIEDADS        455.75949
PRECIOUSD      904587.72142
PRECIOPESO   60784664.20583
DOLARM2          2357.56824
PESOSM2        157850.57261
COTIZACION         67.21253
COMUNA_             9.25566
dtype: float64

### Ejercicio 2. 
a) Dividir las propiedades por cuartiles de precios en dólares.

In [13]:
df["CUARTILES"] = pd.qcut(df["PRECIOUSD"], q=4)
df["CUARTILES_CAT"] = pd.qcut(df["PRECIOUSD"], q=4, labels=["Q1", "Q2", "Q3", "Q4"])
df.head(5)

,DIRECCION,PROPIEDADS,PRECIOUSD,PRECIOPESO,DOLARM2,PESOSM2,COTIZACION,TRIMESTRE_,BARRIO,COMUNA_,CUARTILES,CUARTILES_CAT
0,RIVADAVIA 3500,190,150000,12000000,790,63158,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1
1,PRINGLES 100,242,230000,18400000,950,76033,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1
2,"PERON, JUAN DOMINGO, TTE. 3400",211,265000,21200000,1256,100474,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1
3,MEXICO 4000,320,300000,24000000,938,75000,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1
4,VENEZUELA 4067,250,305000,24400000,1220,97600,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1


b) ¿Cuáles son los barrios con más domicilios en venta dentro del cuartil más barato de CABA? 

Usar pivot_table

In [14]:
barrio = df.pivot_table(index='BARRIO', columns='CUARTILES_CAT', aggfunc='size', fill_value=0)
barrio.head()

/var/folders/ph/5sq6jlj161g1_2t838crnx6c0000gp/T/ipykernel_974/1404307106.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  barrio = df.pivot_table(index='BARRIO', columns='CUARTILES_CAT', aggfunc='size', fill_value=0)

CUARTILES_CAT   Q1  Q2   Q3   Q4
BARRIO
AGRONOMIA       13  27   22   17
ALMAGRO         31  79  184  117
BALVANERA       77  96  116  140
BARRACAS ESTE   69  20   20   49
BARRACAS OESTE   3   0    0    3

In [15]:
barrio['Q1'].idxmax()

'MATADEROS'

¿Y usando groupby?

In [16]:
barrio = df.groupby("CUARTILES_CAT").get_group("Q1")["BARRIO"].value_counts().idxmax()
barrio

/var/folders/ph/5sq6jlj161g1_2t838crnx6c0000gp/T/ipykernel_974/3688469759.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  barrio = df.groupby("CUARTILES_CAT").get_group("Q1")["BARRIO"].value_counts().idxmax()

'MATADEROS'

¿Hay otra forma más sencilla?

In [17]:
filtro = df["CUARTILES_CAT"] == "Q1"
barrio = df[filtro]["BARRIO"].value_counts()
barrio

BARRIO
MATADEROS             171
PARQUE PATRICIOS      119
NUEVA POMPEYA         114
BOCA                  104
SAN CRISTOBAL         104
LINIERS                99
PARQUE AVELLANEDA      97
VELEZ SARSFIELD        96
VILLA URQUIZA          92
VILLA PUEYRREDON       90
SAAVEDRA               85
FLORES SUR             84
BOEDO                  83
VILLA DEL PARQUE       83
VILLA LURO             82
VILLA GRAL. MITRE      82
VILLA CRESPO           81
PARQUE CHACABUCO       79
BALVANERA              77
MONTE CASTRO           76
VILLA SANTA RITA       69
BARRACAS ESTE          69
FLORESTA               62
CABALLITO              62
CONSTITUCION           49
PATERNAL               45
VILLA DEVOTO NORTE     41
VILLA REAL             41
VILLA LUGANO           40
VERSALLES              40
PARQUE CHAS            39
VILLA RIACHUELO        37
FLORES NORTE           37
VILLA DEVOTO SUR       35
ALMAGRO                31
CHACARITA              29
VILLA ORTUZAR          23
VILLA SOLDATI          13
AGRONOMIA              13
COGHLAN                 9
MONTSERRAT              8
PALERMO                 7
SAN NICOLAS             6
NUÃEZ                  5
BARRACAS OESTE          3
RECOLETA                2
COLEGIALES              2
BELGRANO                2
Name: count, dtype: int64

### Ejercicio 3. 
¿Se puede calcular el tamaño de las propiedades? 

¿Cuál sería el precio promedio de las propiedades para cada decil, según metros cuadrados?

In [18]:
df["decil"] = pd.qcut(df["PROPIEDADS"], q=10, labels=[i for i in range(1, 11)]) #PROPIEDADS son los M2 de la prop
df.head(3)

,DIRECCION,PROPIEDADS,PRECIOUSD,PRECIOPESO,DOLARM2,PESOSM2,COTIZACION,TRIMESTRE_,BARRIO,COMUNA_,CUARTILES,CUARTILES_CAT,decil
0,RIVADAVIA 3500,190,150000,12000000,790,63158,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,3
1,PRINGLES 100,242,230000,18400000,950,76033,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,4
2,"PERON, JUAN DOMINGO, TTE. 3400",211,265000,21200000,1256,100474,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,3

In [19]:
precio_prom = df.groupby("decil").agg({
    "PRECIOUSD": "mean",
    "PRECIOPESO": "mean"
}).round(2)
precio_prom

/var/folders/ph/5sq6jlj161g1_2t838crnx6c0000gp/T/ipykernel_974/4016094336.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  precio_prom = df.groupby("decil").agg({

          PRECIOUSD      PRECIOPESO
decil
1      360674.93000  24394724.47000
2      431935.34000  28947043.65000
3      546935.45000  36587155.19000
4      569111.30000  38004457.36000
5      652974.36000  43538715.35000
6      690501.85000  45917493.25000
7      746102.81000  49641340.24000
8      897059.65000  59805500.52000
9     1340582.07000  89449720.59000
10    2814914.82000 191887251.47000

### Ejercicio 4.

¿Cuáles son los barrios más caros en términos de precios por metro cuadrado? ¿Y los más baratos?

In [20]:
df.head(5)

,DIRECCION,PROPIEDADS,PRECIOUSD,PRECIOPESO,DOLARM2,PESOSM2,COTIZACION,TRIMESTRE_,BARRIO,COMUNA_,CUARTILES,CUARTILES_CAT,decil
0,RIVADAVIA 3500,190,150000,12000000,790,63158,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,3
1,PRINGLES 100,242,230000,18400000,950,76033,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,4
2,"PERON, JUAN DOMINGO, TTE. 3400",211,265000,21200000,1256,100474,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,3
3,MEXICO 4000,320,300000,24000000,938,75000,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,6
4,VENEZUELA 4067,250,305000,24400000,1220,97600,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,4

In [21]:
df.groupby("BARRIO")["DOLARM2"].mean().sort_values().idxmax() # mas caro

'RECOLETA'

In [22]:
df.groupby("BARRIO")["DOLARM2"].mean().sort_values().idxmin() # mas barato

'VILLA SOLDATI'

### Ejercicio 5

Dado el siguiente DataFrame con departamentos en venta en CABA en 2019: https://data.buenosaires.gob.ar/dataset/terrenos-valor-oferta/resource/c9a6fed8-da1d-460e-92a8-e0213d68f59c

¿Qué porcentaje de propiedades que estaban en venta durante 2019 siguieron estando en 2020?

In [59]:
df2 = pd.read_csv("../datos/Terrenos-en-venta-2019.csv", encoding = "latin1", sep=",")

In [60]:
df2.head()

,OPERACION,TIPO,LATITUD,LONGITUD,M2TOTAL,DIRECCION,CAMBIO,PRECIOUSD,PRECIOARS,PRECIOUSDM,PRECIOARSM,BARRIOS,COMUNA
0,VTA,TERRENO,-34.6294378,-58.4498948,235.00000,Malvinas Argentinas al 400,45.00,1100000.00000,49500000,4681.00000,210645.00000,CABALLITO,6
1,VTA,TERRENO,-34.6289663,-58.4483573,1629.00000,Jose Bonifacio 1520,45.00,1400000.00000,63000000,859.00000,38655.00000,CABALLITO,6
2,VTA,TERRENO,-34.6265344,-58.4326234,438.00000,BONIFACIO JOSE 400,45.00,2380000.00000,107100000,1062.00000,47790.00000,CABALLITO,6
3,VTA,TERRENO,-34.6248406,-58.4317985,272.00000,VIEL al 600,45.00,895000.00000,40275000,3290.00000,148050.00000,CABALLITO,6
4,VTA,TERRENO,-34.622629,-58.44079,600.00000,Av. Del Barco Centenera 200,45.00,400000.00000,18000000,667.00000,30015.00000,CABALLITO,6

In [61]:
df.head()

,DIRECCION,PROPIEDADS,PRECIOUSD,PRECIOPESO,DOLARM2,PESOSM2,COTIZACION,TRIMESTRE_,BARRIO,COMUNA_,CUARTILES,CUARTILES_CAT,decil
0,RIVADAVIA 3500,190,150000,12000000,790,63158,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,3
1,PRINGLES 100,242,230000,18400000,950,76033,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,4
2,"PERON, JUAN DOMINGO, TTE. 3400",211,265000,21200000,1256,100474,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,3
3,MEXICO 4000,320,300000,24000000,938,75000,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,6
4,VENEZUELA 4067,250,305000,24400000,1220,97600,80,CUARTO,ALMAGRO,5,"(67999.999, 350000.0]",Q1,4

In [50]:
df2["DIRECCION"] = df2["DIRECCION"].str.upper()
df["DIRECCION"] = df["DIRECCION"].str.upper()

df2 = df2.drop_duplicates(subset="DIRECCION")
df = df.drop_duplicates(subset= "DIRECCION")

df2["DIRECCION"] = df2["DIRECCION"].str.replace("al ","")
df["DIRECCION"] = df["DIRECCION"].str.replace("al ","")

In [51]:
df.shape

(3445, 13)

In [52]:
df2.shape

(3254, 13)

In [57]:
coincidencias = pd.merge(df2, df, on=["DIRECCION"], how="inner")
coincidencias = df2[df2["OPERACION"].isin(coincidencias["OPERACION"])]
coincidencias.head()

,OPERACION,TIPO,LATITUD,LONGITUD,M2TOTAL,DIRECCION,CAMBIO,PRECIOUSD,PRECIOARS,PRECIOUSDM,PRECIOARSM,BARRIOS,COMUNA
0,VTA,TERRENO,-34.6294378,-58.4498948,235.00000,MALVINAS ARGENTINAS AL 400,45.00,1100000.00000,49500000,4681.00000,210645.00000,CABALLITO,6
1,VTA,TERRENO,-34.6289663,-58.4483573,1629.00000,JOSE BONIFACIO 1520,45.00,1400000.00000,63000000,859.00000,38655.00000,CABALLITO,6
2,VTA,TERRENO,-34.6265344,-58.4326234,438.00000,BONIFACIO JOSE 400,45.00,2380000.00000,107100000,1062.00000,47790.00000,CABALLITO,6
3,VTA,TERRENO,-34.6248406,-58.4317985,272.00000,VIEL AL 600,45.00,895000.00000,40275000,3290.00000,148050.00000,CABALLITO,6
4,VTA,TERRENO,-34.622629,-58.44079,600.00000,AV. DEL BARCO CENTENERA 200,45.00,400000.00000,18000000,667.00000,30015.00000,CABALLITO,6

In [54]:
coincidencias.shape

(3253, 13)

In [58]:
round((coincidencias.shape[0] / df2.shape[0]) * 100, 2)

99.97

¿Qué modificaciones habría que hacer para encontrar más coincidencias? ¿Qué consideraciones habría que tomar a la hora de analizar el resultado?