# Introducción a Pandas

<div style="text-align: justify; font-size: 1.1rem;">
El presente Notebook abordará conceptos básicos del uso de Pandas en Python para análisis y ciencia de datos.

Todo el material aquí recopilado corresponde al curso introductorio de Data Science de YouTube de Frank Andrade.

Link al curso:
<a href="https://www.youtube.com/watch?v=zAIWnwqHGok" target="_blank">Curso de Data Science en Python Desde Cero</a>

Por otro lado, vale aclarar que las imágenes con contenido teórico sinóptico fueron tomadas del propio curso de Frank Andrade

</div>

In [6]:
import pandas as pd
import numpy as np

## Pandas vs Excel y Terminología

![Image 1](./images/image1.png)

![Image 2](./images/image2.png)

![Image 3](./images/image3.png)

![Image 4](./images/image4.png)

![Image 5](./images/image5.png)

## Crear DataFrames

### Resumen teórico

![Image 7](./images/image7.png)

![Image 8](./images/image8.png)

![Image 9](./images/image9.png)

### Con arrays

In [7]:
def createIdxAndFeaturesNames(rowNum, colNum):
    indexes = []
    features = []
    for col in range(1, colNum+1, 1):
        features.append("Col" + str(col))
    for row in range(1, rowNum+1, 1):
        indexes.append("Id" + str(row))
    return (indexes, features)

#### Lista

In [8]:
# creando el array
data_list = [
    [1, 4], # fila 1
    [2, 5], # fila 2
    [3, 4] # fila 3
]

In [9]:
# creando el dataframe
list_cols = len(data_list[0])
list_rows = len(data_list)

indexes, features = createIdxAndFeaturesNames(list_rows, list_cols)

# si no aportamos nombres a indices y columnas, pandas los asignara con numeros a partir del 0 en adelante automaticamente
df_list = pd.DataFrame(data_list, index=indexes, columns=features)

In [10]:
# mostrando el dataframe
df_list

     Col1  Col2
Id1     1     4
Id2     2     5
Id3     3     4

#### Numpy

In [11]:
# creando el array (tener en cuenta que en numpy solo podemos crear array con numeros)
data = np.array([
    [1, 4], # fila 1
    [2, 5], # fila 2
    [3, 4] # fila 3
])

In [12]:
# creando el dataframe
rows, cols = data.shape

indexes, features = createIdxAndFeaturesNames(rows, cols)

# si no aportamos nombres a indices y columnas, pandas los asignara con numeros a partir del 0 en adelante automaticamente
df = pd.DataFrame(data, index=indexes, columns=features)

In [13]:
# mostrando el dataframe
df

     Col1  Col2
Id1     1     4
Id2     2     5
Id3     3     4

### Con diccionarios

In [14]:
# creando las listas. cada lista contendra los valores de toda una columna del dataframe
states = ["California", "Texas", "Florida", "New York"]
population = [39098766, 12563789, 34987232, 19875378]

In [15]:
# creando el diccionario
dict_states = {
    "State": states, # columna State
    "Population": population # columna Population
}

In [16]:
# creando el dataframe, en este caso tomara como nombres d elas columnas las keys del diccionario
df_states = pd.DataFrame(dict_states)

In [17]:
# mostrando el dtaframe
df_states

        State  Population
0  California    39098766
1       Texas    12563789
2     Florida    34987232
3    New York    19875378

### Con archivo CSV

In [25]:
# leyendo el archivo csv
df_exams = pd.read_csv("./datasets/StudentsPerformance.csv")

In [26]:
# mostrando el dataframe
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## Mostrar un Dataframe

<div style="text-align: justify; font-size: 1.1rem;">

Pandas por defecto no nos mostrará todas las filas del dataframe creado (como ocurre en el caso anterior con el arcihvo csv). Solo nos muestra un conjunto de filas, como para tener una idea de la estructura de dichos datos de manera resumida.

De todas formas, tenemos métodos para cambiar la forma/cantidad de filas que podemos ver con esta librería.
</div>

In [27]:
# mostrar 5 primeras filas del dataframe
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [28]:
# mostrar 5 ultimas filas del dataframe
df_exams.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [29]:
# mostrar primeras n filas del dataframe
df_exams.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [30]:
# mostrar ultimas n filas del dataframe
df_exams.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [32]:
# atributo shape
df_exams.shape

(1000, 8)

In [31]:
#mostrar n filas
pd.set_option("display.max_rows", 1000)
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50
10,male,group C,associate's degree,standard,none,58,54,52
11,male,group D,associate's degree,standard,none,40,52,43
12,female,group B,high school,standard,none,65,81,73
13,male,group A,some college,standard,completed,78,72,70
14,female,group A,master's degree,standard,none,50,53,58
15,female,group C,some high school,standard,none,69,75,78
16,male,group C,high school,standard,none,88,89,86
17,female,group B,some high school,free/reduced,none,18,32,28
18,male,group C,master's degree,free/reduced,completed,46,42,46
19,female,group C,associate's degree,free/reduced,none,54,58,61
20,male,group D,high school,standard,none,66,69,63
21,female,group B,some college,free/reduced,completed,65,75,70
22,male,group D,some college,standard,none,44,54,53
23,female,group C,some high school,standard,none,69,73,73
24,male,group D,bachelor's degree,free/reduced,completed,74,71,80
25,male,group A,master's degree,free/reduced,none,73,74,72
26,male,group B,some college,standard,none,69,54,55
27,female,group C,bachelor's degree,standard,none,67,69,75
28,male,group C,high school,standard,none,70,70,65
29,female,group D,master's degree,standard,none,62,70,75
30,female,group D,some college,standard,none,69,74,74
31,female,group B,some college,standard,none,63,65,61
32,female,group E,master's degree,free/reduced,none,56,72,65
33,male,group D,some college,standard,none,40,42,38
34,male,group E,some college,standard,none,97,87,82
35,male,group E,associate's degree,standard,completed,81,81,79
36,female,group D,associate's degree,standard,none,74,81,83
37,female,group D,some high school,free/reduced,none,50,64,59
38,female,group D,associate's degree,free/reduced,completed,75,90,88
39,male,group B,associate's degree,free/reduced,none,57,56,57
40,male,group C,associate's degree,free/reduced,none,55,61,54
41,female,group C,associate's degree,standard,none,58,73,68
42,female,group B,associate's degree,standard,none,53,58,65
43,male,group B,some college,free/reduced,completed,59,65,66
44,female,group E,associate's degree,free/reduced,none,50,56,54
45,male,group B,associate's degree,standard,none,65,54,57
46,female,group A,associate's degree,standard,completed,55,65,62
47,female,group C,high school,standard,none,66,71,76
48,female,group D,associate's degree,free/reduced,completed,57,74,76
49,male,group C,high school,standard,completed,82,84,82
50,male,group E,some college,standard,none,53,55,48
51,male,group E,associate's degree,free/reduced,completed,77,69,68
52,male,group C,some college,standard,none,53,44,42
53,male,group D,high school,standard,none,88,78,75
54,female,group C,some high school,free/reduced,completed,71,84,87
55,female,group C,high school,free/reduced,none,33,41,43
56,female,group E,associate's degree,standard,completed,82,85,86
57,male,group D,associate's degree,standard,none,52,55,49
58,male,group D,some college,standard,completed,58,59,58
59,female,group C,some high school,free/reduced,none,0,17,10
60,male,group E,bachelor's degree,free/reduced,completed,79,74,72
61,male,group A,some high school,free/reduced,none,39,39,34
62,male,group A,associate's degree,free/reduced,none,62,61,55
63,female,group C,associate's degree,standard,none,69,80,71
64,female,group D,some high school,standard,none,59,58,59
65,male,group B,some high school,standard,none,67,64,61
66,male,group D,some high school,free/reduced,none,45,37,37
67,female,group C,some college,standard,none,60,72,74
68,male,group B,associate's degree,free/reduced,none,61,58,56
69,female,group C,associate's degree,standard,none,39,64,57
70,female,group D,some college,free/reduced,completed,58,63,73
71,male,group D,some college,standard,completed,63,55,63
72,female,group A,associate's degree,free/reduced,none,41,51,48
73,male,group C,some high school,free/reduced,none,61,57,56
74,male,group C,some high school,standard,none,49,49,41
75,male,group B,associate's degree,free/reduced,none,44,41,38
76,male,group E,some high school,standard,none,30,26,22
77,male,group A,bachelor's degree,standard,completed,80,78,81
78,female,group D,some high school,standard,completed,61,74,72
79,female,group E,master's degree,standard,none,62,68,68
80,female,group B,associate's degree,standard,none,47,49,50
81,male,group B,high school,free/reduced,none,49,45,45
82,male,group A,some college,free/reduced,completed,50,47,54
83,male,group E,associate's degree,standard,none,72,64,63
84,male,group D,high school,free/reduced,none,42,39,34
85,female,group C,some college,standard,none,73,80,82
86,female,group C,some college,free/reduced,none,76,83,88
87,female,group D,associate's degree,standard,none,71,71,74
88,female,group A,some college,standard,none,58,70,67
89,female,group D,some high school,standard,none,73,86,82
90,female,group C,bachelor's degree,standard,none,65,72,74
91,male,group C,high school,free/reduced,none,27,34,36
92,male,group C,high school,standard,none,71,79,71
93,male,group C,associate's degree,free/reduced,completed,43,45,50
94,female,group B,some college,standard,none,79,86,92
95,male,group C,associate's degree,free/reduced,completed,78,81,82
96,male,group B,some high school,standard,completed,65,66,62
97,female,group E,some college,standard,completed,63,72,70
98,female,group D,some college,free/reduced,none,58,67,62
99,female,group D,bachelor's degree,standard,none,65,67,62
100,male,group B,some college,standard,none,79,67,67
101,male,group D,bachelor's degree,standard,completed,68,74,74
102,female,group D,associate's degree,standard,none,85,91,89
103,male,group B,high school,standard,completed,60,44,47
104,male,group C,some college,standard,completed,98,86,90
105,female,group C,some college,standard,none,58,67,72
106,female,group D,master's degree,standard,none,87,100,100
107,male,group E,associate's degree,standard,completed,66,63,64
108,female,group B,associate's degree,free/reduced,none,52,76,70
109,female,group B,some high school,standard,none,70,64,72
110,female,group D,associate's degree,free/reduced,completed,77,89,98
111,male,group C,high school,standard,none,62,55,49
112,male,group A,associate's degree,standard,none,54,53,47
113,female,group D,some college,standard,none,51,58,54
114,female,group E,bachelor's degree,standard,completed,99,100,100
115,male,group C,high school,standard,none,84,77,74
116,female,group B,bachelor's degree,free/reduced,none,75,85,82
117,female,group D,bachelor's degree,standard,none,78,82,79
118,female,group D,some high school,standard,none,51,63,61
119,female,group C,some college,standard,none,55,69,65
120,female,group C,bachelor's degree,standard,completed,79,92,89
121,male,group B,associate's degree,standard,completed,91,89,92
122,female,group C,some college,standard,completed,88,93,93
123,male,group D,high school,free/reduced,none,63,57,56
124,male,group E,some college,standard,none,83,80,73
125,female,group B,high school,standard,none,87,95,86
126,male,group B,some high school,standard,none,72,68,67
127,male,group D,some college,standard,completed,65,77,74
128,male,group D,master's degree,standard,none,82,82,74
129,female,group A,bachelor's degree,standard,none,51,49,51
130,male,group D,master's degree,standard,none,89,84,82
131,male,group C,some high school,free/reduced,completed,53,37,40
132,male,group E,some college,free/reduced,completed,87,74,70
133,female,group C,some college,standard,completed,75,81,84
134,male,group D,bachelor's degree,free/reduced,completed,74,79,75
135,male,group C,bachelor's degree,standard,none,58,55,48
136,male,group B,some high school,standard,completed,51,54,41
137,male,group E,high school,standard,none,70,55,56
138,female,group C,associate's degree,standard,none,59,66,67
139,male,group D,some college,standard,completed,71,61,69
140,female,group D,some high school,standard,none,76,72,71
141,female,group C,some college,free/reduced,none,59,62,64
142,female,group E,some college,free/reduced,completed,42,55,54
143,male,group A,high school,standard,none,57,43,47
144,male,group D,some college,standard,none,88,73,78
145,female,group C,some college,free/reduced,none,22,39,33
146,male,group B,some high school,standard,none,88,84,75
147,male,group C,associate's degree,free/reduced,none,73,68,66
148,female,group D,bachelor's degree,standard,completed,68,75,81
149,male,group E,associate's degree,free/reduced,completed,100,100,93
150,male,group A,some high school,standard,completed,62,67,69
151,male,group A,bachelor's degree,standard,none,77,67,68
152,female,group B,associate's degree,standard,completed,59,70,66
153,male,group D,bachelor's degree,standard,none,54,49,47
154,male,group D,some high school,standard,none,62,67,61
155,female,group C,some college,standard,completed,70,89,88
156,female,group E,high school,free/reduced,completed,66,74,78
157,male,group B,some college,free/reduced,none,60,60,60
158,female,group B,associate's degree,standard,completed,61,86,87
159,male,group D,associate's degree,free/reduced,none,66,62,64
160,male,group B,associate's degree,free/reduced,completed,82,78,74
161,female,group E,some college,free/reduced,completed,75,88,85
162,male,group B,master's degree,free/reduced,none,49,53,52
163,male,group C,high school,standard,none,52,53,49
164,female,group E,master's degree,standard,none,81,92,91
165,female,group C,bachelor's degree,standard,completed,96,100,100
166,male,group C,high school,free/reduced,completed,53,51,51
167,female,group B,master's degree,free/reduced,completed,58,76,78
168,female,group B,high school,standard,completed,68,83,78
169,female,group C,some college,free/reduced,completed,67,75,70
170,male,group A,high school,standard,completed,72,73,74
171,male,group E,some high school,standard,none,94,88,78
172,female,group D,some college,standard,none,79,86,81
173,female,group C,associate's degree,standard,none,63,67,70
174,female,group C,bachelor's degree,free/reduced,completed,43,51,54
175,female,group C,master's degree,standard,completed,81,91,87
176,female,group B,high school,free/reduced,completed,46,54,58
177,female,group C,associate's degree,standard,completed,71,77,77
178,female,group B,master's degree,free/reduced,completed,52,70,62
179,female,group D,some high school,standard,completed,97,100,100
180,male,group C,master's degree,free/reduced,completed,62,68,75
181,female,group C,some college,free/reduced,none,46,64,66
182,female,group E,high school,standard,none,50,50,47
183,female,group D,associate's degree,standard,none,65,69,70
184,male,group C,some high school,free/reduced,completed,45,52,49
185,male,group C,associate's degree,free/reduced,completed,65,67,65
186,male,group E,high school,standard,none,80,76,65
187,male,group D,some high school,standard,completed,62,66,68
188,male,group B,some high school,free/reduced,none,48,52,45
189,female,group C,bachelor's degree,standard,none,77,88,87
190,female,group E,associate's degree,standard,none,66,65,69
191,male,group D,some college,standard,completed,76,83,79
192,female,group B,some high school,standard,none,62,64,66
193,male,group D,some college,standard,completed,77,62,62
194,female,group C,master's degree,standard,completed,69,84,85
195,male,group D,associate's degree,standard,none,61,55,52
196,male,group C,some high school,free/reduced,completed,59,69,65
197,male,group E,high school,free/reduced,none,55,56,51
198,female,group B,some college,free/reduced,none,45,53,55
199,female,group B,bachelor's degree,free/reduced,none,78,79,76
200,female,group C,associate's degree,standard,completed,67,84,86
201,female,group D,some college,free/reduced,none,65,81,77
202,male,group C,associate's degree,standard,none,69,77,69
203,female,group B,associate's degree,standard,none,57,69,68
204,male,group C,some college,standard,none,59,41,42
205,male,group D,some high school,standard,completed,74,71,78
206,male,group E,bachelor's degree,standard,none,82,62,62
207,male,group E,high school,standard,completed,81,80,76
208,female,group B,some college,free/reduced,none,74,81,76
209,female,group B,some college,free/reduced,none,58,61,66
210,male,group D,some high school,free/reduced,completed,80,79,79
211,male,group C,some college,free/reduced,none,35,28,27
212,female,group C,high school,free/reduced,none,42,62,60
213,male,group C,associate's degree,free/reduced,completed,60,51,56
214,male,group E,high school,standard,completed,87,91,81
215,male,group B,some high school,standard,completed,84,83,75
216,female,group E,associate's degree,free/reduced,completed,83,86,88
217,female,group C,high school,free/reduced,none,34,42,39
218,male,group B,high school,free/reduced,none,66,77,70
219,male,group B,some high school,standard,completed,61,56,56
220,female,group D,high school,standard,completed,56,68,74
221,male,group B,associate's degree,standard,none,87,85,73
222,female,group C,some high school,free/reduced,none,55,65,62
223,male,group D,some high school,standard,none,86,80,75
224,female,group B,associate's degree,standard,completed,52,66,73
225,female,group E,master's degree,free/reduced,none,45,56,54
226,female,group C,some college,standard,none,72,72,71
227,male,group D,high school,standard,none,57,50,54
228,male,group A,some high school,free/reduced,none,68,72,64
229,female,group C,some college,standard,completed,88,95,94
230,male,group D,some college,standard,none,76,64,66
231,male,group C,associate's degree,standard,none,46,43,42
232,female,group B,bachelor's degree,standard,none,67,86,83
233,male,group E,some high school,standard,none,92,87,78
234,male,group C,bachelor's degree,standard,completed,83,82,84
235,male,group D,associate's degree,standard,none,80,75,77
236,male,group D,bachelor's degree,free/reduced,none,63,66,67
237,female,group D,some high school,standard,completed,64,60,74
238,male,group B,some college,standard,none,54,52,51
239,male,group C,associate's degree,standard,none,84,80,80
240,male,group D,high school,free/reduced,completed,73,68,66
241,female,group E,bachelor's degree,standard,none,80,83,83
242,female,group D,high school,standard,none,56,52,55
243,male,group E,some college,standard,none,59,51,43
244,male,group D,some high school,standard,none,75,74,69
245,male,group C,associate's degree,standard,none,85,76,71
246,male,group E,associate's degree,standard,none,89,76,74
247,female,group B,high school,standard,completed,58,70,68
248,female,group B,high school,standard,none,65,64,62
249,male,group C,high school,standard,none,68,60,53
250,male,group A,some high school,standard,completed,47,49,49
251,female,group D,some college,free/reduced,none,71,83,83
252,female,group B,some high school,standard,completed,60,70,70
253,male,group D,master's degree,standard,none,80,80,72
254,male,group D,high school,standard,none,54,52,52
255,female,group E,some college,standard,none,62,73,70
256,female,group C,associate's degree,free/reduced,none,64,73,68
257,male,group C,associate's degree,standard,completed,78,77,77
258,female,group B,some college,standard,none,70,75,78
259,female,group C,master's degree,free/reduced,completed,65,81,81
260,female,group C,some high school,free/reduced,completed,64,79,77
261,male,group C,some college,standard,completed,79,79,78
262,female,group C,some high school,free/reduced,none,44,50,51
263,female,group E,high school,standard,none,99,93,90
264,male,group D,high school,standard,none,76,73,68
265,male,group D,some high school,free/reduced,none,59,42,41
266,female,group C,bachelor's degree,standard,none,63,75,81
267,female,group D,high school,standard,none,69,72,77
268,female,group D,associate's degree,standard,completed,88,92,95
269,female,group E,some college,free/reduced,none,71,76,70
270,male,group C,bachelor's degree,standard,none,69,63,61
271,male,group C,some college,standard,none,58,49,42
272,female,group D,associate's degree,free/reduced,none,47,53,58
273,female,group D,some college,standard,none,65,70,71
274,male,group B,some college,standard,completed,88,85,76
275,male,group C,bachelor's degree,standard,none,83,78,73
276,female,group C,some high school,standard,completed,85,92,93
277,female,group E,high school,standard,completed,59,63,75
278,female,group C,some high school,free/reduced,none,65,86,80
279,male,group B,bachelor's degree,free/reduced,none,73,56,57
280,male,group D,high school,standard,none,53,52,42
281,male,group D,high school,standard,none,45,48,46
282,female,group D,bachelor's degree,free/reduced,none,73,79,84
283,female,group D,some college,free/reduced,completed,70,78,78
284,female,group B,some high school,standard,none,37,46,46
285,male,group B,associate's degree,standard,completed,81,82,82
286,male,group E,associate's degree,standard,completed,97,82,88
287,female,group B,some high school,standard,none,67,89,82
288,male,group B,bachelor's degree,free/reduced,none,88,75,76
289,male,group E,some high school,standard,completed,77,76,77
290,male,group C,associate's degree,standard,none,76,70,68
291,male,group D,some high school,standard,none,86,73,70
292,male,group C,some high school,standard,completed,63,60,57
293,female,group E,bachelor's degree,standard,none,65,73,75
294,male,group D,high school,free/reduced,completed,78,77,80
295,male,group B,associate's degree,free/reduced,none,67,62,60
296,male,group A,some high school,standard,completed,46,41,43
297,male,group E,associate's degree,standard,completed,71,74,68
298,male,group C,high school,free/reduced,completed,40,46,50
299,male,group D,associate's degree,free/reduced,none,90,87,75
300,male,group A,some college,free/reduced,completed,81,78,81
301,male,group D,some high school,free/reduced,none,56,54,52
302,female,group C,associate's degree,standard,completed,67,84,81
303,male,group B,associate's degree,standard,none,80,76,64
304,female,group C,associate's degree,standard,completed,74,75,83
305,male,group A,some college,standard,none,69,67,69
306,male,group E,some college,standard,completed,99,87,81
307,male,group C,some high school,standard,none,51,52,44
308,female,group B,associate's degree,free/reduced,none,53,71,67
309,female,group D,high school,free/reduced,none,49,57,52
310,female,group B,associate's degree,standard,none,73,76,80
311,male,group B,bachelor's degree,standard,none,66,60,57
312,male,group D,bachelor's degree,standard,completed,67,61,68
313,female,group C,associate's degree,free/reduced,completed,68,67,69
314,female,group C,bachelor's degree,standard,completed,59,64,75
315,male,group C,high school,standard,none,71,66,65
316,female,group D,master's degree,standard,completed,77,82,91
317,male,group C,associate's degree,standard,none,83,72,78
318,male,group B,bachelor's degree,standard,none,63,71,69
319,female,group D,associate's degree,free/reduced,none,56,65,63
320,female,group C,high school,free/reduced,completed,67,79,84
321,female,group E,high school,standard,none,75,86,79
322,female,group C,some college,standard,none,71,81,80
323,female,group C,some high school,free/reduced,none,43,53,53
324,female,group C,high school,free/reduced,none,41,46,43
325,female,group C,some college,standard,none,82,90,94
326,male,group C,some college,standard,none,61,61,62
327,male,group A,some college,free/reduced,none,28,23,19
328,male,group C,associate's degree,standard,completed,82,75,77
329,female,group B,some high school,standard,none,41,55,51
330,male,group C,high school,standard,none,71,60,61
331,male,group C,associate's degree,standard,none,47,37,35
332,male,group E,associate's degree,standard,completed,62,56,53

## Atributos básicos, funciones y métodos

### Resumen teórico

### Ejemplos

In [38]:
pd.set_option("display.max_rows", 11) # para volver a setear el display de filas por defecto

In [39]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

#### Atributos

In [42]:
# atributo shape (muestra la cant de filas y columnas)
df_exams.shape

(1000, 8)

In [44]:
# atributo index
df_exams.index

RangeIndex(start=0, stop=1000, step=1)

In [47]:
# atributo columns (me muestra los titulos de las columnas)
df_exams.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [49]:
# tipo de dato de cada columna (nombre columna -> tipo de dato)
df_exams.dtypes

gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

#### Métodos

In [50]:
# mostrando las 5 primeras filas
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [52]:
# mostrando informacion general del dataframe
df_exams.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

In [54]:
# obteniendo valores estadisticos del dataframe (de las columnas con valores numericos)
df_exams.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Funciones

In [55]:
# obtener el tamaño del dataframe (filas)
len(df_exams)

1000

In [56]:
# valor de indice maximo
max(df_exams.index)

999

In [57]:
# valor minimo de indice
min(df_exams.index)

0

In [59]:
# obtener el tipo de dato del dataframe en si
type(df_exams)

pandas.core.frame.DataFrame

In [61]:
# redondear valores numericos del dataframe (en este caso a dos decimales)
round(df_exams, 2)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## Seleccionar columnas

### Seleccionar 1 columna

#### Syntax 1

In [63]:
# seleccionar una columna con [] -> Esto nos devuelve una serie
df_exams['gender']

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [64]:
# revisar el tipo de dato de una columna
type(df_exams['gender'])

pandas.core.series.Series

In [66]:
# series: atributos y metodos - las series comparten varios atributos y metodos con los dataframe
df_exams['gender'].index
df_exams['gender'].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

#### Syntax 2

In [69]:
# seleccionar columna con .nombre_columna
df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [70]:
# esta forma tiene la limitacion de que no sirve para columnas con palabras separadas por espacios en blanco
df_exams.math score

SyntaxError: invalid syntax (3957362103.py, line 2)

In [71]:
df_exams["math score"]

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

### Seleccionar 2 o más columnas

In [78]:
# seleccionar 2 columnas usando [[]] -> esto nos devuelve un DataFrame
df_exams[["gender", "math score"]]

     gender  math score
0    female          72
1    female          69
2    female          90
3      male          47
4      male          76
..      ...         ...
995  female          88
996    male          62
997  female          59
998  female          68
999  female          77

[1000 rows x 2 columns]

In [79]:
# revisar el tipo de data de la seleccion
type(df_exams[["gender", "math score"]])

pandas.core.frame.DataFrame

In [80]:
# seleccionar 2 o mas columnas usando [[]]
df_exams[["gender", "math score", "reading score", "writing score"]]

     gender  math score  reading score  writing score
0    female          72             72             74
1    female          69             90             88
2    female          90             95             93
3      male          47             57             44
4      male          76             78             75
..      ...         ...            ...            ...
995  female          88             99             95
996    male          62             55             55
997  female          59             71             65
998  female          68             78             77
999  female          77             86             86

[1000 rows x 4 columns]

In [81]:
# no podemos seleccionar 2 o mas columnas usando el .
df_exams."gender", "math score"

SyntaxError: invalid syntax (563264676.py, line 2)

## Agregar una nueva columna

### Agregar una nueva columna con un valor

In [82]:
# agregar una nueva columna al dataframe
df_exams['language score'] = 70 # todas las filas tendran ese valor constante

In [83]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70
996,male,group C,high school,free/reduced,none,62,55,55,70
997,female,group C,high school,free/reduced,completed,59,71,65,70
998,female,group D,some college,standard,completed,68,78,77,70
999,female,group D,some college,free/reduced,none,77,86,86,70

### Agregar una nueva columna con un array

<p style="text-align: justify; font-size: 1.1rem;">El dataframe tiene 1000 filas/observaciones, por ello, tenemos que crear un array de 1000 elementos</p>

In [86]:
# crear un array de 100 elementos
language_score = np.arange(0, 1000)

1000

In [87]:
# verificamos el tamaño del array
print(len(language_score))
print(len(language_score) == len(df_exams))

1000
True

In [91]:
# agregar una nueva columna al dataframe con un array
df_exams['language score'] = language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,0
1,female,group C,some college,standard,completed,69,90,88,1
2,female,group B,master's degree,standard,none,90,95,93,2
3,male,group A,associate's degree,free/reduced,none,47,57,44,3
4,male,group C,some college,standard,none,76,78,75,4
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,995
996,male,group C,high school,free/reduced,none,62,55,55,996
997,female,group C,high school,free/reduced,completed,59,71,65,997
998,female,group D,some college,standard,completed,68,78,77,998
999,female,group D,some college,free/reduced,none,77,86,86,999

In [94]:
# crear numeros aleatorios entre 1 y 100
int_language_score = np.random.randint(1, 100, size=len(df_exams))

In [96]:
# el minimo valor es inclusivo y el maximo es exclusivo
min(int_language_score)
max(int_language_score)

99

In [97]:
df_exams['language score'] = int_language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,21
1,female,group C,some college,standard,completed,69,90,88,50
2,female,group B,master's degree,standard,none,90,95,93,53
3,male,group A,associate's degree,free/reduced,none,47,57,44,14
4,male,group C,some college,standard,none,76,78,75,65
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,5
996,male,group C,high school,free/reduced,none,62,55,55,33
997,female,group C,high school,free/reduced,completed,59,71,65,32
998,female,group D,some college,standard,completed,68,78,77,81
999,female,group D,some college,free/reduced,none,77,86,86,51

In [98]:
# crear numeros decimales aleatorios entre 1 y 100
np.random.uniform(1, 100, size=len(df_exams))

array([34.758183  , 26.82342328, 86.19367074, 80.80665727, 55.36766577,
       10.53335043, 22.11933898, 50.68138279, 31.54233702, 69.99069869,
       87.50156384, 62.97463818, 15.71694914, 96.34151649, 26.86371818,
       28.34887949, 49.12344615, 23.19007504, 79.59921385, 89.60491856,
       53.63455705,  3.89158436, 31.99792446, 95.43951761, 43.84529466,
       12.09975061, 67.78438416, 20.50460161, 58.45744463, 12.37762097,
       74.3376768 , 20.11233506, 18.15969987, 45.63345336,  6.03342449,
       21.41744743, 12.18474268,  7.8548535 , 73.80806125,  7.7172623 ,
       27.36435906, 32.96521765, 33.33907418, 68.37695326, 14.62012526,
        9.83324945, 88.00680029, 64.36222973, 55.48983349, 19.46601152,
        3.36257987,  8.72259175, 37.98566955,  8.59857209, 25.17486662,
       69.26925951, 15.60252031, 74.0782544 , 43.30811046, 31.65864512,
       43.06654682, 20.38473434, 54.68705874, 87.11523255, 89.62373212,
       32.03958238, 90.39214958, 26.97775683, 21.36553133, 19.29624803,
       73.07045376, 52.41916214, 71.68983497, 95.08866669, 75.66107231,
       98.92885767, 31.91900795, 49.63150246, 84.74055521, 76.56622109,
       44.01965895, 92.30129022, 55.12457066, 87.55686781, 42.00468988,
       67.77372284, 59.01130848, 60.01954174, 87.0739123 , 67.17786951,
       96.79767125, 49.80145086, 22.44582534, 25.84036563, 45.38708147,
       54.91906156, 56.95908637, 39.71986729, 94.27715298,  4.74836371,
       60.36870711, 22.29774323, 25.12821499, 73.20934508, 61.38223151,
        6.49552719, 37.44881468, 55.73326281, 57.77814127, 24.12937669,
       40.96340177, 47.26849303, 97.79709415, 50.16693373, 21.40731179,
       50.20039593, 87.56512638, 52.14741589, 16.99229165, 84.25961948,
       88.92852399, 14.1837343 , 24.77689327, 41.87078015,  1.40567939,
       74.971328  , 44.14594586, 81.48294526, 78.36536857, 50.63981767,
       70.67658312, 45.42894369, 38.42941443,  4.64497824, 23.25321302,
       45.86284631, 90.78328001, 93.22333487, 15.32748515, 25.9783147 ,
       87.87002006, 24.40087519, 14.03772036, 65.79131808, 19.14584413,
       74.27462494, 97.21827019, 39.10446517, 68.73816139, 61.76621947,
       19.63917257, 32.01397259, 20.94589515, 96.45301155,  2.76972122,
       66.52828344, 78.51261486, 38.27802112,  5.13017547, 41.26937977,
       45.23696584, 55.68402161,  7.89647366, 12.61286648, 35.00465144,
       62.94789819, 82.90192204, 44.98021324, 85.76458706, 89.71608921,
        5.96292833, 29.39183933, 43.32169721, 12.2009379 , 24.53509587,
       72.35323258, 58.20084958, 20.99500948, 61.52584073, 62.14692671,
       76.89749271, 53.02551352, 64.80546776, 16.61291204, 32.03503398,
       75.57678545, 11.60794523, 63.73745899, 68.06721941, 29.32493863,
       82.64337348, 61.30347627, 77.71832929, 98.96827975, 20.10362955,
       61.51057382,  4.3917903 ,  2.80575903, 21.95680613, 77.86502014,
       48.55229707, 35.48563685, 30.8174789 , 32.3154639 , 30.63830481,
       59.23156991, 18.85613365, 35.67205988, 64.33220462, 96.20571842,
       53.76796699, 98.90049444, 87.47163397, 17.70580676, 17.10236621,
       74.63025414, 36.42321441, 33.58485902, 40.82141061,  5.94599725,
       40.48035416, 83.90336008,  1.88834944, 35.26025689,  3.07387546,
       85.69003485, 74.65430759, 39.09830643,  7.46082737, 22.72011314,
       45.36955959, 42.18799893, 14.19604084, 44.35781337, 40.15382367,
       20.13736727, 50.92056413,  3.46081889, 33.53784233, 27.1632431 ,
        5.06742753, 64.94077961,  6.83909281, 94.32370903, 95.12014048,
       71.22607286, 17.4526359 , 29.6232171 ,  7.14843198, 14.90404699,
       27.91161198, 79.54902053, 35.48285825, 43.63650189, 73.68773341,
       83.43746122, 57.75628532, 19.28061594, 99.28969125, 80.77944149,
       16.80896371, 93.48291828, 26.20009854, 14.38662894, 90.50094104,
       20.16087406, 26.99813974, 82.31582683, 90.21129853, 17.70675742,
       20.34611083, 64.68039206, 89.65000479, 59.79830541, 37.14694793,
       54.30875543, 27.78991291, 66.38958243, 75.93474253, 54.28686303,
        9.4606445 , 46.88565075, 70.70029914, 45.57784522, 59.64141159,
       60.66958377, 97.38914017, 10.78059627, 27.77481556, 97.54982678,
       98.36107935, 49.49423691, 73.38930023, 87.44232134, 35.30354367,
       65.17196929, 93.57515227, 15.16257272, 97.78762863, 87.7775698 ,
       25.88653075,  4.26220404,  8.69692996, 24.38938602, 88.51701732,
        5.13462751, 44.10361389, 28.42349252, 75.22199338, 96.14526071,
        6.15266501, 37.32246498,  3.73564262, 65.02125712, 13.36653086,
        5.42019805, 51.79666391, 98.05544728, 62.13819522, 67.37650388,
       18.22211633, 21.48694143, 78.10761514, 18.55800339, 21.24179087,
       34.690977  , 48.19789744, 21.14607828, 61.6570305 ,  3.34787171,
       73.16888154, 60.49477369, 53.2203763 , 77.56146718, 45.96116444,
       22.9875557 , 30.85148873, 83.48905628, 76.04249427, 16.37212524,
       75.97750496, 66.57920686, 16.47633704,  6.55138434, 46.38551668,
       93.48250583, 63.09246107, 77.0257686 ,  3.57136445, 99.05399877,
       71.03733577, 95.8383942 , 71.76871762, 42.12427427, 36.03717405,
       51.95875698, 39.5349344 ,  1.33681878, 46.3278379 , 72.70229507,
        3.37277165, 58.87756173, 33.83291521, 80.97567344, 31.75050443,
       27.3229438 , 68.81049588, 26.43155389, 10.26326004, 33.86623423,
       67.6476555 , 88.5647453 , 66.73915204, 91.08074054, 34.18257402,
       11.79640201, 86.93835523, 71.8034357 , 22.36302956, 95.55959857,
       96.30073972, 35.32163305, 64.07590002, 57.29208455,  7.81430496,
       69.53572174, 79.59825363,  5.42974319, 90.18492833, 47.46299641,
       67.82467781, 61.80706637, 87.82228652, 51.15159758, 48.889436  ,
       68.11138588, 82.57373197,  1.9459388 , 27.40391512, 66.1342964 ,
       56.61702452, 43.25362038, 23.87128578, 41.38607127, 29.75954504,
       46.96512398, 89.60955763, 88.34186867, 18.93830816, 46.04632347,
       33.58962223, 84.93470148,  8.43906488, 26.44337197, 12.15296462,
       19.48637416, 26.55512042,  6.44615261, 97.43340862, 93.27989078,
       26.72418026, 19.11429732, 17.23150695, 25.19445665, 19.08210505,
       67.89584629, 14.55909694, 26.47870075, 78.12410894, 75.14806547,
       78.02486124, 66.27204826, 35.2846927 , 58.07312888, 83.52743892,
       18.81674798, 39.76715332, 76.10620691, 63.18146034, 18.78259457,
       54.22840064,  2.50109095,  8.14097604,  9.66249442, 87.78253913,
       50.25354453, 85.75353804, 16.63097549, 49.61934851, 56.92672226,
        5.40785229, 25.74779663,  3.672296  , 32.37265998,  9.31210961,
       61.76829744, 96.14477024, 54.36005996, 59.93161402, 51.54890049,
       46.55860358, 89.92249563, 59.06161885, 49.19079418, 28.58159922,
       60.35823751, 12.732072  , 92.16440233, 71.92909036, 38.15250355,
        6.7737064 , 78.03735201, 38.34873015, 65.21430278,  1.8595316 ,
       98.94109846, 61.72646902, 26.36213521, 78.38795918, 53.74352173,
       19.8970189 , 37.21692828, 43.58991014,  2.62714594, 38.83774116,
       37.03864329,  1.48993834, 98.96805091, 73.88342406, 90.1551332 ,
       83.90547744, 80.58391426, 24.64181666,  8.98339075, 89.9428481 ,
       47.91461516, 94.61023121, 12.86238106, 88.46870247, 43.17798208,
       29.46540571, 52.26189146, 37.38322179, 49.33151893,  9.47149465,
        8.5194394 , 74.65221468, 31.90163275, 23.54930098, 90.75304134,
       30.57266566, 60.17582469, 54.01430967, 45.68728819, 47.30503518,
       16.25707337, 46.06895544, 99.35958409, 14.95900147, 52.91664217,
        9.81554055, 69.62603332, 48.33247373, 93.88700083, 93.54027948,
       89.32470029, 24.15231636, 12.76585004,  2.54363461, 76.31308006,
       39.78835945, 34.91548657, 45.59485674,  5.11566053, 57.39287045,
       48.5361285 , 42.53222559, 87.49625842, 41.01229405, 11.85251266,
       89.80815504,  3.50950268, 36.65351831, 91.19388419, 82.10678948,
       29.14152136, 63.49996175, 78.99601684,  3.1897349 , 56.97617978,
        2.58371222, 44.74971169, 29.22054965, 46.9674445 , 60.06274659,
       10.24929661, 90.64684961, 61.09371313, 10.81675604, 33.5102019 ,
       22.74531892, 53.87013068, 66.55434498,  4.78879248, 34.71726248,
       55.04986131, 43.05175908, 26.51188059, 90.17902841, 73.94521137,
       74.62050494, 84.02491175, 14.7657451 , 31.11037381,  8.96558055,
       33.74718878, 60.41795556, 83.65271064, 35.22642903, 53.1881788 ,
        1.69231412, 24.20727702, 39.49232186, 65.10511526, 20.7721782 ,
       71.82320592, 89.04222781, 91.35717321, 52.36436195, 82.03978702,
       50.35630525, 61.52270308, 87.72024884, 97.05668825, 63.04812282,
       36.74280844, 64.9745832 , 68.65422886, 26.46591307, 11.93751887,
       78.68330531, 84.90853648, 54.21115621, 14.5355816 , 61.10034579,
       36.24918678, 86.7178936 , 54.21712714, 36.5581951 , 43.47918402,
       14.97678886, 17.74624532, 62.63994522, 87.05816134, 86.22568143,
       20.38766808, 47.98994789, 96.8913167 , 89.06863138,  2.28811575,
       76.33147293, 23.51671147, 78.56645301, 20.90069443, 56.51515292,
       87.93235998, 10.78574833, 72.03510855, 24.78496564, 90.05871455,
       84.73357567, 34.74444686, 45.43445127, 78.31948824, 50.3546618 ,
        6.17089555, 98.38237741, 44.29625031, 25.51238845, 64.90645686,
       61.23910967, 91.66204375,  2.46376423, 33.23393774, 97.90344705,
       26.0974051 , 88.95919826, 54.19795102, 88.46466503,  6.23323856,
       46.18421294, 33.62313643, 66.58974657, 84.78379975, 28.45449081,
       67.03915067, 12.7072369 , 82.0726736 , 76.22234774, 60.75205981,
       45.95426987, 92.70583398, 61.20730246,  6.85768134, 31.56585781,
       23.60388491, 69.29825696, 13.17872266,  9.75046834, 48.63907491,
       88.53801784, 35.97448614,  6.42970091, 10.2861104 , 95.82888363,
        9.85856002, 82.01503475, 19.63117282, 87.81731724, 99.9161651 ,
       22.16470451, 22.82764439, 19.89257441, 52.71870142, 60.38038394,
       37.45019073, 40.8726046 , 95.50029171, 19.33196146, 26.80490905,
       66.91567973, 50.14314015, 35.04822123, 72.46720537, 99.55230276,
       15.01357063, 54.84513707,  4.35810853, 47.22035149, 73.12809049,
       67.0327744 , 17.87979212, 70.87987719, 18.63094081, 36.85012971,
       43.13604309, 94.23858146, 57.22944089, 82.66994507, 20.37654561,
       57.69194617,  5.60190346, 99.13058018, 69.02467186,  2.43445182,
       19.75284641,  2.2136067 , 98.45887767, 46.369301  ,  6.03620111,
       11.36607193, 40.07157585,  2.30947459, 33.66119102,  7.18751178,
       51.61006472, 79.70485728, 12.888476  , 42.37173851, 54.07076092,
       12.67592722, 20.11277958, 92.88928542,  6.38806233, 76.60698966,
       28.32110124, 77.55116553, 22.10415261, 52.83554286, 46.73335863,
       38.62419507, 43.72730018, 89.40019246, 15.53034686, 87.656519  ,
       91.32653037, 67.80297422, 45.14418488, 74.86010379, 66.05178359,
       96.9055072 , 24.06219313,  3.03323919, 87.79562892, 66.15943392,
       71.77108984, 20.33099926,  5.06974991, 73.09988036, 15.46202821,
        7.97920628, 41.78290897, 63.62552552, 42.7582892 , 38.61336832,
       12.10026131, 88.82971458, 88.68128919, 94.65545521, 25.13081597,
       25.31741801, 22.07720222,  3.21390888, 46.59790573, 18.13008601,
       51.00762076, 81.89474008, 37.06795381, 93.68417473,  8.94144063,
       61.75660026, 98.43012789, 74.00501065, 19.40796904,  6.32654939,
       87.70333205,  8.24958582, 34.60133542, 12.66587221, 11.25944076,
       10.13813667, 45.61689905, 19.91380683, 61.66289192,  2.14653485,
       87.63048704, 29.77014756, 82.09832874, 30.77619353, 46.41985953,
        8.08429041, 23.23880644, 67.02823095, 44.59713826, 61.09141367,
        8.80047534, 17.61520888, 26.47833558, 60.38413777, 78.51764017,
       29.14827591, 41.62703537, 58.9597253 , 99.89800581, 90.67026127,
        8.62887652, 91.46302072, 27.10673335, 52.72160975, 86.38066039,
       73.9629865 ,  8.26391383, 10.68121203, 81.31152372, 63.89166139,
       67.90377881, 80.14896427,  8.09058366, 51.87518945, 73.28526963,
       75.84462373, 17.27864681, 79.01639457,  8.96388593,  2.40047767,
       63.31522797, 15.76929382, 32.99923002, 88.50601852, 31.97052032,
       56.85916306, 54.20072069,  3.77755209, 48.55691539, 24.40021425,
       63.57841829, 60.02884249, 40.94817783, 26.67009165, 62.02565964,
       49.66019255, 56.37045092, 35.08756648, 47.92145326, 28.24835421,
       38.1020108 , 77.70167438,  4.55875715, 79.99618296,  8.6583383 ,
       87.62835869, 70.43096089, 84.11281737, 43.76623529, 27.19651687,
       43.6878002 , 60.55856071, 83.51939228, 49.58613306, 68.31257711,
       14.13489898,  4.60615007, 58.11480688, 74.39137136, 19.83209487,
       59.73313418, 63.42047483, 40.27187228, 69.62192854, 21.84444292,
       99.02362423, 93.42248505, 75.90576473, 64.86306079, 57.25665434,
       42.21787426, 39.77369571, 37.76800705, 59.86420593, 40.08225198,
        9.43827277, 27.60227688, 40.09584685, 50.56519874, 17.05832584,
       14.70597736, 10.98647594, 68.21409556, 63.46349507, 89.69743245,
       44.67204786, 92.66493863, 99.65855613, 85.459093  , 97.35503444,
       55.76643595, 90.85605798, 52.27187759, 34.17276237, 48.59379113,
       57.79252075,  9.30300837,  3.42169048, 26.92652238, 50.55670239,
       75.65157954,  3.65356427, 90.35524497, 58.06632484, 30.46805089,
       41.49017292, 13.59309506, 61.79900884, 97.91527268, 77.65652859,
       35.31067732, 27.83794081, 76.41891673, 59.37750516, 52.63552858,
       91.37600465, 81.94615225, 33.91888012, 62.11098384, 22.41795124,
        7.53163754, 15.26823746, 98.31031324, 65.13023209, 27.17607251,
       50.60579611, 61.13613947, 20.01680001, 18.26241979, 14.1975572 ,
       47.09415545, 29.98548282, 27.15386165, 31.30866561,  8.18686054,
       66.00678396, 49.86432825, 89.97787616,  6.84521349, 70.90704203,
        2.84017935, 28.81793883, 64.21730267,  9.11544292, 86.25008283,
       43.07847359, 12.77766012, 99.90508597, 52.27257414, 54.54377938,
        6.4634967 ,  1.78122697, 12.72240896,  5.61001655, 90.8619826 ,
       50.97472092, 87.28673022, 86.7102439 , 14.37315196, 73.32831395,
       70.84570945, 29.81697306, 26.60662466, 34.98266179, 91.94730962,
       92.81413985, 93.33915928, 65.23358696, 89.10912542, 45.12471629,
       78.99865334,  8.98598037, 45.82847441,  4.18660543, 63.46088213,
        5.52914475, 82.74551467, 34.88625181, 62.52369478, 62.09915196,
       91.59674492, 12.59122512, 13.23712675, 65.06134643, 42.97221583])

## Operaciones en Dataframes

### Operaciones en columnas

In [99]:
# selecciona columna y calcula la suma total de todos los registros de esa columna
df_exams["math score"].sum()

66089

In [102]:
# contar, promedio, desv. estandar, maximo y minimo
print(df_exams["math score"].count()) # cant de registros
print(df_exams["math score"].mean()) # promedio
print(df_exams["math score"].std()) # dev estandar
print(df_exams["math score"].min())
print(df_exams["math score"].max())

1000
66.089
15.16308009600945
0
100

In [103]:
# calcula mas rapido con .describe()
df_exams.describe()

       math score  reading score  writing score  language score
count  1000.00000    1000.000000    1000.000000     1000.000000
mean     66.08900      69.169000      68.054000       50.098000
std      15.16308      14.600192      15.195657       28.572063
min       0.00000      17.000000      10.000000        1.000000
25%      57.00000      59.000000      57.750000       26.000000
50%      66.00000      70.000000      69.000000       50.000000
75%      77.00000      79.000000      79.000000       74.250000
max     100.00000     100.000000     100.000000       99.000000

### Operaciones en filas

In [111]:
# calcular la suma de valores de columnas en cada fila
average = df_exams["math score"] + df_exams["reading score"] + df_exams["writing score"]
average

0      218
1      247
2      278
3      148
4      229
      ...
995    282
996    172
997    195
998    223
999    249
Length: 1000, dtype: int64

In [112]:
type(average)

pandas.core.series.Series

In [115]:
# calcular el promedio y asignar los resultados a una nueval columna
df_exams['average'] = (average / 3).round(decimals=2)

In [116]:
# mostrar el dataframe
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
0,female,group B,bachelor's degree,standard,none,72,72,74,21,72.67
1,female,group C,some college,standard,completed,69,90,88,50,82.33
2,female,group B,master's degree,standard,none,90,95,93,53,92.67
3,male,group A,associate's degree,free/reduced,none,47,57,44,14,49.33
4,male,group C,some college,standard,none,76,78,75,65,76.33
...,...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,5,94.00
996,male,group C,high school,free/reduced,none,62,55,55,33,57.33
997,female,group C,high school,free/reduced,completed,59,71,65,32,65.00
998,female,group D,some college,standard,completed,68,78,77,81,74.33
999,female,group D,some college,free/reduced,none,77,86,86,51,83.00

## Value_Counts

In [121]:
# contar los elementos de la columna "gender"

# funcion len
print(len(df_exams["gender"]))

# metodo .count()
print(df_exams["gender"].count())

1000
1000

In [122]:
# contar los elementos de "gender" por categoria
df_exams["gender"].value_counts()

gender
female    518
male      482
Name: count, dtype: int64

In [123]:
# obtener la frecuencia relativa (porcentaje del total de cada categoria)
df_exams["gender"].value_counts(normalize=True)

gender
female    0.518
male      0.482
Name: proportion, dtype: float64

In [124]:
# contar elementos de la categoria "parental level of education" por categoria
df_exams["parental level of education"].value_counts()

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [127]:
type(df_exams["parental level of education"].value_counts())

pandas.core.series.Series

In [129]:
# obtener la frecuencia relativa y redondear a 2 decimales
df_exams["parental level of education"].value_counts(normalize=True).round(2)

parental level of education
some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: proportion, dtype: float64

## Ordenar un dataframe

In [130]:
# ordenar por columna
df_exams.sort_values(by="math score")

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
59,female,group C,some high school,free/reduced,none,0,17,10,41,9.00
980,female,group B,high school,free/reduced,none,8,24,23,70,18.33
17,female,group B,some high school,free/reduced,none,18,32,28,68,26.00
787,female,group B,some college,standard,none,19,38,32,7,29.67
145,female,group C,some college,free/reduced,none,22,39,33,87,31.33
...,...,...,...,...,...,...,...,...,...,...
625,male,group D,some college,standard,completed,100,97,99,32,98.67
623,male,group A,some college,standard,completed,100,96,86,85,94.00
451,female,group E,some college,standard,none,100,92,97,15,96.33
962,female,group E,associate's degree,standard,none,100,100,100,91,100.00
149,male,group E,associate's degree,free/reduced,completed,100,100,93,38,97.67

In [131]:
# ordenar descendiente por columna
df_exams.sort_values(by="math score", ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
962,female,group E,associate's degree,standard,none,100,100,100,91,100.00
625,male,group D,some college,standard,completed,100,97,99,32,98.67
458,female,group E,bachelor's degree,standard,none,100,100,100,14,100.00
623,male,group A,some college,standard,completed,100,96,86,85,94.00
451,female,group E,some college,standard,none,100,92,97,15,96.33
...,...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,87,31.33
787,female,group B,some college,standard,none,19,38,32,7,29.67
17,female,group B,some high school,free/reduced,none,18,32,28,68,26.00
980,female,group B,high school,free/reduced,none,8,24,23,70,18.33
59,female,group C,some high school,free/reduced,none,0,17,10,41,9.00

In [132]:
# orden descendiente por multiples columnas
df_exams.sort_values(by=["math score", "reading score"], ascending=False)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
149,male,group E,associate's degree,free/reduced,completed,100,100,93,38,97.67
458,female,group E,bachelor's degree,standard,none,100,100,100,14,100.00
916,male,group E,bachelor's degree,standard,completed,100,100,100,69,100.00
962,female,group E,associate's degree,standard,none,100,100,100,91,100.00
625,male,group D,some college,standard,completed,100,97,99,32,98.67
...,...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,87,31.33
787,female,group B,some college,standard,none,19,38,32,7,29.67
17,female,group B,some high school,free/reduced,none,18,32,28,68,26.00
980,female,group B,high school,free/reduced,none,8,24,23,70,18.33
59,female,group C,some high school,free/reduced,none,0,17,10,41,9.00

In [133]:
# el metodo sort_values no altera el dataframe original, sino que devuelve una copia
# si queremos que realmente se ordene el original:
df_exams.sort_values(by=["math score", "reading score"], ascending=False, inplace=True)

In [134]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score,average
149,male,group E,associate's degree,free/reduced,completed,100,100,93,38,97.67
458,female,group E,bachelor's degree,standard,none,100,100,100,14,100.00
916,male,group E,bachelor's degree,standard,completed,100,100,100,69,100.00
962,female,group E,associate's degree,standard,none,100,100,100,91,100.00
625,male,group D,some college,standard,completed,100,97,99,32,98.67
...,...,...,...,...,...,...,...,...,...,...
145,female,group C,some college,free/reduced,none,22,39,33,87,31.33
787,female,group B,some college,standard,none,19,38,32,7,29.67
17,female,group B,some high school,free/reduced,none,18,32,28,68,26.00
980,female,group B,high school,free/reduced,none,8,24,23,70,18.33
59,female,group C,some high school,free/reduced,none,0,17,10,41,9.00

In [ ]:
# orden descendiente con una funcion key
df_exams.sort_values(by="race/ethnicity", key=lambda col: )