# Cargar Datos en DataFrames

In [1]:
import pandas as pd

/var/folders/ph/5sq6jlj161g1_2t838crnx6c0000gp/T/ipykernel_1084/4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Cargar desde CSV

In [7]:
ventas = pd.read_csv("../datos/ventas.csv", 
                     index_col=0, 
                     usecols=[0,1,4])
ventas

                Trimestre 1  Trimestre 4
Sucursal Norte         1001         1004
Sucursal Este          2001         2004
Sucursal Oeste         3001         3004
Sucursal Sur           4001         4004

In [8]:
ventas = pd.read_csv("../datos/ventas.csv", 
                     index_col=0, 
                     nrows=3)
ventas

                Trimestre 1  Trimestre 2  Trimestre 3  Trimestre 4
Sucursal Norte         1001         1002         1003         1004
Sucursal Este          2001         2002         2003         2004
Sucursal Oeste         3001         3002         3003         3004

In [9]:
ventas = pd.read_csv("../datos/ventas_con_simbolo.csv", 
                     index_col=0, 
                     sep="$")
ventas

                Trimestre 1  Trimestre 2  Trimestre 3  Trimestre 4
Sucursal Norte         1001         1002         1003         1004
Sucursal Este          2001         2002         2003         2004
Sucursal Oeste         3001         3002         3003         3004
Sucursal Sur           4001         4002         4003         4004

In [14]:
ventas = pd.read_csv("../datos/ventas_sin_encabezado.csv", 
                     index_col=0, 
                     header=None, 
                     names=["T1", "T2", "T3", "T4"])
ventas

                  T1    T2    T3    T4
Sucursal Norte  1001  1002  1003  1004
Sucursal Este   2001  2002  2003  2004
Sucursal Oeste  3001  3002  3003  3004
Sucursal Sur    4001  4002  4003  4004

In [18]:
ventas = pd.read_csv("../datos/ventas_con_basura.csv", 
                     index_col=0,
                     skiprows=1,
                     skipfooter=1,
                     engine="python")
ventas

                Trimestre 1  Trimestre 2  Trimestre 3  Trimestre 4
Sucursal Norte         1001         1002         1003         1004
Sucursal Este          2001         2002         2003         2004
Sucursal Oeste         3001         3002         3003         3004
Sucursal Sur           4001         4002         4003         4004

## Cargar desde Excel

In [21]:
ventas_anuales = pd.read_excel("../datos/ventas_anuales.xlsx",
                              index_col=0,
                              skiprows=1,
                              sheet_name=None) # carga todas las pestañas
ventas_anuales # cada pestaña se carga, y esto termina siendo un diccionario de Dataframes

{'2020':                 Trimestre 1  Trimestre 2  Trimestre 3  Trimestre 4
 Sucursal Norte         1001         1002         1003         1004
 Sucursal Este          2001         2002         2003         2004
 Sucursal Oeste         3001         3002         3003         3004
 Sucursal Sur           4001         4002         4003         4004,
 '2021':                 Trimestre 1  Trimestre 2  Trimestre 3  Trimestre 4
 Sucursal Norte         2001         2002         2003         2004
 Sucursal Este          4001         4002         4003         4004
 Sucursal Oeste         6001         6002         6003         6004
 Sucursal Sur           8001         8002         8003         8004}

In [23]:
type(ventas_anuales["2020"]) # veo el dataframe que era de la primer pestaña

pandas.core.frame.DataFrame